= content_tag_for(:tr, @user) do
  %td= link_to(@user.lobby_id, @user, class: 'font-gary')
  %td{data: {th: t('.username')}}
    = link_to(@user.username, @user, class: 'font-gary')
    = link_to(t('.more'), user_details_path(@user, format: :js), method: :get, remote: true, class: 'btn btn-xs btn-default')
  -# %td{data: {th: t('.nickname')}}= link_to(@user.nickname, @user, class: 'font-gary')
  %td.right{data: {th: t('.credit')}}
    %strong.font-danger= default_currency(@user.credit_left)
    - if policy(:user).update? && (current_agent.in_top_level? && current_agent.id == @user.agent.owner_id) || current_agent.in_final_level?
      = link_to('+', new_user_deposit_path(@user, format: :js), method: :get, remote: true, class: 'btn btn-xs btn-default')
      = link_to('-', new_user_cashout_path(@user, format: :js), method: :get, remote: true, class: 'btn btn-xs btn-default')
  -# %td.center.font-xs{data: {th: t('.created_at')}}= default_log_time(@user.created_at)
  -# %td.center{data: {th: t('.enabled')}}= icon_check(@user, :lock?, false)
  -# - unless current_account.in_final_level?
    %td{data: {th: t('.agent')}}= link_to(@user.agent.username, @user.agent, class: 'btn btn-xs btn-default')
  -# %td.center= link_to(t('btn.edit'), edit_user_path(@user), class: 'btn btn-xs btn-default') if policy(:user).edit?
  -# %td
    - if policy(:history).all?
      = link_to(t('.details'), histories_game_index_path(role: {user_id: @user.id}), class: 'btn btn-xs btn-default')
      = link_to(t('.transfer_credit'), user_transfer_credit_path(@user), class: 'btn btn-xs btn-default')