= render_cell :withdraws, :filter_form, agent: @agent, begin_date: @begin_date, end_date: @end_date
%hr
.row
  = render_cell :agents, :information, agent: @agent
  .col-md-9
    = render_cell :withdraws, :withdraw_list, agent: @agent, begin_date: @begin_date, end_date: @end_date
