(function(){
  $cashoutForm = $("<%=j render('machine/cashouts/cashout_form') %>");
  if ($('#cashout').size() > 0) {
    $('#cashout').html($cashoutForm.html());
  } else {
    $('body').append($cashoutForm);
  }
  $('#cashout').modal();

  $.dashboard.controlMachine('shutdown', <%= @machine.id %>, '<%=j render_cell :dashboard, :machine, machine: @machine %>')
  $.dashboard.incrumentMachineCounter('shutdown');
  
  $.dashboard.addMachineLog("<%=j render_cell :machines, :log, log: @machine_log %>");

})();