- if Setting.cash_site? && current_agent.is_points_type?
  .alert.alert-warning
    = t('.current_points')
    %b= current_agent.points
- if current_agent.recommend_code.present?
  .panel.panel-default
    .panel-heading= t('.promo_link')
    .panel-body
      .input-group
        %input.form-control.font-xs#input-copy{value: agent_promo_url(current_agent)}
        %span.input-group-btn
          = link_to(t('btn.copy'), '', class: 'btn btn-default copy_button copy_me', data: {done: t('btn.copy_done')})
      .push-xs
      = raw @svg
- if policy(:commissions).all? && current_agent.commission_view?
  #commission-panel.panel.panel-danger
    .panel-heading
      %h3.panel-title= t('.commission.title')
    .padding-commission
      = render_cell :dashboard, :commission, commission_reports: @commission_reports
= render_cell :dashboard, :report_overview
-# = render_cell :dashboard, :profit_overview
-# = render_cell :dashboard, :summary