(function(){
  var $partialHTML = $("<%=j render_cell :dashboard, :profit_overview %>");
  var credit_left = $partialHTML.find('#credit_left').html();
  $.dashboard.updateInformation({
    'credit_left'      : credit_left,
    'credit_max'       : $partialHTML.find('#credit_max').html(),
    'casino_ratio'     : $partialHTML.find('#casino_ratio').html(),
    'today_self_profit': $partialHTML.find('#today_self_profit').html(),
    'today_win_amount' : $partialHTML.find('#today_win_amount').html(),
    'today_owe_parent' : $partialHTML.find('#today_owe_parent').html(),
    'today_total_cash' : $partialHTML.find('#today_total_cash').html(),
  });
  <% @boot_machines.each do |machine| %>
    $.dashboard.updateMachineCredit("<%= machine.id %>", "<%= default_currency(machine.credit_left) %>");
  <% end %>
  <% @shutdown_machines.each do |machine| %>
    $.dashboard.updateMachineCredit("<%= machine.id %>", "<%= default_currency(machine.credit_left) %>");
  <% end %>
})();