.row#shop-dashboard{data: {url: root_path(format: :js)}}
  .col-md-12= render_cell :dashboard, :profit_overview
  .col-md-6
    .row
      = render_cell :dashboard, :machines_panel, title: t('.boot'), style: 'info', panel_id: 'boot-machines-panel', machine_counter_id: 'boot-machine-count', action: 'boot'
      = render_cell :dashboard, :machines_panel, title: t('.shutdown'), style: 'danger', panel_id: 'shutdown-machines-panel', machine_counter_id: 'shutdown-machine-count', action: 'shutdown'
  .col-md-6
    = render_cell :dashboard, :logs_panel
- content_for :javascripts do
  = javascript_include_tag 'pages/shop_dashboard'