- cache [racing_schedule, current_agent] do
  = content_tag_for(:tr, racing_schedule) do
    %td.center= racing_schedule.id
    %td= "#{racing_schedule.racing_game.game_model_name} (#{racing_schedule.racing_game.human_game_name})"
    %td.right= racing_schedule.no1
    %td.right= racing_schedule.no2
    %td.right= racing_schedule.no3
    %td.right= default_log_time(racing_schedule.start_receive_bet_form_time)
    %td.right= default_log_time(racing_schedule.end_time)
    %td.center= link_to(t('.details'), histories_racing_index_path(role: {racing_schedule_id: racing_schedule.id}, begin_date: racing_schedule.created_at.to_date, end_date: racing_schedule.created_at.to_date), class: 'btn btn-xs')