.table-responsive
  %table.table.table-valign-middle.table-font-sm
    %thead
      %tr.success
        %th.center{width: 50, data: {priority: '3'}} #
        %th{width: 130}= t('.racing_game')
        %th.right{width: 70}= t('.no1')
        %th.right{width: 70}= t('.no2')
        %th.right{width: 70}= t('.no3')
        %th.center{width: 100, data: {priority: '3'}}= t('.start_receive_bet_form_time')
        %th.center{width: 100, data: {priority: '3'}}= t('.end_time')
        %th.center{width: 70}
    %tbody
      - if @racing_schedules.empty?
        %tr
          %td{colspan: 6}= t('shared.no_data')
      = render partial: 'racing_schedule', collection: @racing_schedules
= will_paginate(@racing_schedules)
