#deposit.modal.fade{tabindex: -1,role: 'dialog', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title= t('.title', name: @machine.title)
      .modal-form
        = bootstrap_form_for([:machine, @deposit_form], format: :js, remote: true) do |f|
          .modal-body
            = f.static_control :credit_left, label: t('.credit_left')
            = f.number_field :deposit_credit, label: t('.deposit_credit'), autofocus: true, step: '0.01', help: t('.help', credit_left: default_currency(current_agent.credit_left))
          .modal-footer
            - if @machine.shutdown?
              = f.submit t('btn.confirm'), class: 'btn btn-success', disable_with: t('btn.submitting'), confirm: t('confirm.boot')
            - else
              = f.submit t('btn.confirm'), class: 'btn btn-success', disable_with: t('btn.submitting')