(function(){
  <% if @status %>
    $('#deposit').modal('hide');

    if ($('#machine_'+<%= @machine.id %>).parents('table').data('action') == 'boot') {
      $.dashboard.updateMachine(<%= @machine.id %>, "<%=j render_cell :dashboard, :machine, machine: @machine %>");
    } else {
      $.dashboard.controlMachine('boot', <%= @machine.id %>, '<%=j render_cell :dashboard, :machine, machine: @machine %>');
      $.dashboard.incrumentMachineCounter('boot');
    }

    $.dashboard.addMachineLog("<%=j render_cell :machines, :log, log: @machine_log %>");
  <% else %>
    $depositForm = $("<%=j render('deposit_form') %>")
    $('#deposit').html($depositForm.html());
  <% end %>
})();