(function(){
  $depositForm = $("<%=j render('deposit_form') %>");
  if ($('#deposit').size() > 0) {
    $('#deposit').html($depositForm.html());
  } else {
    $('body').append($depositForm);
  }
  $('#deposit_deposit_credit').keypress(function(e){
    if (e.which == 13) {
      e.preventDefault();
      $('#deposit [type="submit"]').click();
    }
  });
  $('#deposit').modal();
})();
