= link_to(activity.trackable.title, machine_path(activity.trackable, format: :js), method: :get, remote: :true, class: activity.trackable.deleted? ? 'font-disable' : 'font-gary')
= t('.deposit')
%span.font-win
  = "( + #{default_currency(activity.parameters[:credit].to_f)} )"
