#cashout.modal.fade{tabindex: -1,role: 'dialog', class: 'modal-enter-close', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title= t('.title', name: @machine.title)
      .modal-form
        = bootstrap_form_for([:machine, @cashout_form], format: :js, remote: true) do |f|
          .modal-body.center
            %h4= t('.credit_left')
            %strong.font-xxl= @machine.credit_left
            .push-xs
            = f.number_field :cashout_credit, label: t('.cashout_credit'), autofocus: true, value: @cashout_form.cashout_credit, step: '0.01'
          .modal-footer
            - if @machine.credit_left == 0
              = link_to(t('btn.finish'), '' ,class: 'btn btn-success run-and-close-modal', data: {dismiss: 'modal'})
            - else
              = f.submit t('btn.cashout'), class: 'btn btn-success run-and-close-modal', disable_with: t('btn.submitting'), confirm: t('confirm.cashout')