(function(){
  <% if @status %>
    $('#cashout').modal('hide');
    $.dashboard.updateMachine(<%= @machine.id %>, "<%=j render_cell :dashboard, :machine, machine: @machine %>");
    $.dashboard.addMachineLog("<%=j render_cell :machines, :log, log: @machine_log %>");
  <% else %>
    $cashoutForm = $("<%=j render('withdraw_form') %>")
    $('#cashout').html($cashoutForm.html());
  <% end %>
})();