(function(){
  $cashoutForm = $("<%=j render('machine/cashouts/withdraw_form') %>");
  if ($('#cashout').size() > 0) {
    $('#cashout').html($cashoutForm.html());
  } else {
    $('body').append($cashoutForm);
  }
  $('#cashout').modal();
})();
