$(function(){
  $('#agent_withdraw_username').bind('railsAutocomplete.select', function(event, data){
    /* Do something here */
    $.ajax({
      url: "<%= Rails.application.routes.url_helpers.agents_path %>/" + data.item.id,
      success: function(data){
        $('.username').html(data.username);
        $('.nickname').html(data.nickname);
        if (data.current_sign_in_at === undefined) {
          $('.login').html('--');
        } else {
          $('.login').html(data.current_sign_in_at);
        }
        if (data.current_sign_in_ip === null) {
          $('.ip').html('--');
        } else {
          $('.ip').html(data.current_sign_in_ip);
        }
        $('.points').html(data.points);
        $('.parent_points').html(data.parent_points);
        $('#agent_data').removeClass('hidden');
      },
      dataType: 'json'
    });

  });
});