(function(){
  <% if @deposit_form %>
    $depositForm = $("<%=j render('deposit_form') %>");
    if ($('#deposit').size() > 0) {
      $('#deposit').html($depositForm.html());
    } else {
      $('body').append($depositForm);
    }
    $('#deposit_deposit_credit').keypress(function(e){
      if (e.which == 13) {
        e.preventDefault();
        $('#deposit [type="submit"]').click();
      }
    });
    $('#deposit [type="submit"]').click(function(){
      if (!confirm("<%=j t('.deposit_notice', name: @user.title) %>")) {
        return false;
      }
    });
    $('#deposit').modal();
    $('#deposit input[type=number]').focus();
  <% else %>
    alert("<%= t('pundit.shared_policy.authorized_error') %>");
  <% end %>
})();
