.row
  .col-md-8.col-md-offset-2
    %h3= t('.title')
    = bootstrap_form_for(resource, url: registration_path(resource)) do |f|
      = f.static_control :username do
        %strong.font-danger= resource.username
      = f.password_field :password, autocomplete: 'off', help: t('shared.password_tips.keep_blank'), autofocus: true
      = f.password_field :password_confirmation, autocomplete: 'off'
      - unless resource.bank_account.nil?
        %hr
        = f.static_control :name do
          %strong.font-warning= resource.name
        = f.fields_for :bank_account, resource.bank_account do |ff|
          = ff.static_control :bank_id do
            %strong.font-warning= resource.bank_account.bank_id
          = ff.static_control :city do
            %strong.font-warning= resource.bank_account.city
          = ff.static_control :province do
            %strong.font-warning= resource.bank_account.province
          = ff.static_control :subbranch do
            %strong.font-warning= resource.bank_account.subbranch
          = ff.static_control :account do
            %strong.font-warning= resource.bank_account.account
          = ff.password_field :security_code, help: t('shared.password_tips.keep_blank')
          = ff.password_field :security_code_confirmation, autocomplete: 'off'
      %hr
      = f.password_field :current_password, required: true, help: t('shared.password_tips.old_password')
      = f.submit t('btn.save'), class: 'btn btn-success'