.site_map
  a
    color: #565656
  .title
    padding-top: 5px
    font-size: 15px
    color: #438eb9
  hr
    margin: 5px 0px
    border-top: 2px solid #438eb9
  &.layout
    border: 2px solid #438eb9
    height: 90%
    .title
      padding: 5px 10px 5px 10px
      color: #565656
      &.sub_item
        a
          display: inline
          padding: 0px
        &:before
          content: image-url("icon/sub_item.png")
          padding-right: 10px
      &.sub_item
        padding-left: 35px
        color: #eeeeee
        &:hover, &.active
          background-color: lighten(#438eb9, 20%)
          a
            color: #FFF !important
          a:hover, &.active > a
            background-color: transparent
            color: #FFF
          &:before
            content: image-url("icon/sub_item_hover.png")
            text-decoration: none
        &.active
          background-color: #438eb9 //override
#content-wrapper
  padding-left: 0
#sidebar-site-map
  z-index: 1000
  position: fixed
  width: 160px
  height: 100%
  overflow-y: auto
#content
  margin-left: 160px
  padding-left: 20px
@media(max-width:992px)
  #content
    margin-left: 0px
    padding-left: 0px