#destroy_confirm.modal.fade{tabindex: -1,role: 'dialog', class: 'modal-enter-close', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title= t('.title', agent_title: @agent.title)
      .modal-body.center
        .push-xs
        = link_to(t('.unlock'), agent_locks_path(@agent), method: :delete ,class: 'btn btn-default btn-lg', confirm: t('confirm.unlock'))
        = link_to(t('.unlock_tree'), agent_locks_path(@agent, tree: true), method: :delete ,class: 'btn btn-default btn-lg', confirm: t('confirm.unlock_tree'))
      .modal-footer
        = link_to(t('btn.close'), '' ,class: 'btn btn-success run-and-close-modal', data: {dismiss: 'modal'})
