#details.modal.fade{tabindex: -1,role: 'dialog', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title= t('.title', name: @user.title)
      .modal-body
        %dl.dl-horizontal
          %dt= t('.lobby_id')
          %dd= link_to(@user.lobby_id, @user, class: 'font-gary')
          %dt= t('.username')
          %dd= link_to(@user.username, @user, class: 'font-gary')
          %dt= t('.nickname')
          %dd= link_to(@user.nickname, @user, class: 'font-gary')
          %dt= t('.credit')
          %dd= default_currency(@user.credit_left)
          %dt= t('.created_at')
          %dd= default_log_time(@user.created_at)
          %dt= t('.enabled')
          %dd= icon_check(@user, :lock?, false)
          - unless current_account.in_final_level?
            %dt= t('.agent')
            %dd= link_to(@user.agent.username, @user.agent, class: 'btn btn-xs btn-default')
          %dt
          %dd
            - if policy(:user).edit?
              %hr
              = link_to(t('btn.edit'), edit_user_path(@user), class: 'btn btn-xs btn-default')
            - if policy(:history).all?
              = link_to(t('.details'), histories_game_index_path(role: {user_id: @user.id}), class: 'btn btn-xs btn-default')
              = link_to(t('.transfer_credit'), user_transfer_credit_path(@user), class: 'btn btn-xs btn-default')
      .modal-footer
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t('btn.close')