(function(){
  $details = $("<%=j render('details') %>");
  if ($('#details').size() > 0) {
    $('#details').html($details.html());
  } else {
    $('body').append($details);
  }
  $('#details').modal();
})();
