.row
  .col-md-6.col-md-offset-3
    .center
      %h4= t('.title')
      %strong.font-xxxl= current_agent.maintain_code
      .push-md
      = link_to(t('.close'), maintains_path, method: :delete, class: 'btn btn-default btn-lg', confirm:t('.close_confirm'))
      .push-md
      .alert.alert-warning.left
        %h5= t('.note_title') 
        %ol
          %li
            = t('.note1')
          %li
            = t('.note2')
          %li
            = t('.note3')
