.row
  .col-md-4.col-md-offset-4
    = bootstrap_form_for(@auth_form, url: maintains_path) do |f|
      = f.static_control :username
      = f.password_field :password, autofocus: true
      = f.submit t('btn.confirm'), class: 'btn btn-success'