.navbar-default
  // filter: blur(20px)
  opacity: .90

.navbar-brand
  padding: 0
  a
    color: $brand-gary !important
    text-decoration: none
    padding: 11px 15px
    display: block
    &:hover
      text-shadow: 0px 0px 1px #666

body
  padding-top: $navbar-height

nav#header
  &.director, &.shareholder
    background-color: #438eb9
    a
      color: #FFF !important
      &:hover
        background-color: darken(#438eb9, 10%)
    .dropdown-menu
      a
        color: #000 !important
        &:hover
          color: #FFF !important
