@charset 'UTF-8';

@font-face {
  font-family: 'LigatureSymbols';
  src: url(asset-path('LigatureSymbols-2.11.eot'));
  src: url(asset-path('LigatureSymbols-2.11.eot?#iefix')) format('embedded-opentype'),
       url(asset-path('LigatureSymbols-2.11.woff')) format('woff'),
       url(asset-path('LigatureSymbols-2.11.ttf')) format('truetype'),
       url(asset-path('LigatureSymbols-2.11.svg#LigatureSymbols')) format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin ico($name, $code) {
  .ico-#{$name}:before {
    content: '#{$code}';
  }
}

.ico {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
  &:before {
    content:attr(title);
    font-size: 130%;
    font-family: 'LigatureSymbols';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-font-feature-settings: "liga" 1, "dlig" 1;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga" 1, "dlig" 1;
    -o-font-feature-settings: "liga" 1, "dlig" 1;
    font-feature-settings: "liga" 1, "dlig" 1;
    font-style: normal;
  }
}
@include ico('bus', '\E024');
@include ico('list', '\E084');
@include ico('invert', '\E14b');
@include ico('music', '\E094');
@include ico('time', '\E12b');
@include ico('calendar', '\E15e');

@include ico('tag', '\E128');
@include ico('group', '\E05c');
@include ico('pin', '\E103');
@include ico('time', '\E12b');
@include ico('flag', '\E04a');