.push-xl
  margin-top: 50px
.push-lg
  margin-top: 40px
.push-md
  margin-top: 30px
.push-s
  margin-top: 15px
.push-sm
  margin-top: 20px
.push-xs
  margin-top: 10px

.push-right-xs
  margin-right: 10px
.push-right-xxs
  margin-right: 5px

.pt-s
  padding-top: 15px
