.row
  .col-md-8.col-md-offset-2
    %h2= t('.title')
    = bootstrap_form_for(@form) do |f|
      = f.static_control :username
      = f.text_field :name
      = f.text_field :nickname
      = f.text_field :email
      = f.text_field :mobile
      = f.text_field :qq
      = f.password_field :password, autocomplete: 'off', help: t('shared.password_tips.keep_blank')
      = f.password_field :password_confirmation, autocomplete: 'off'
      -# %hr
      -# %h4= t('game_platforms.east')
      -# = link_to(t('.limittype.video'), limit_table_users_path(limittype: 1, format: :js), remote: true, class: 'btn btn-danger')
      -# = link_to(t('.limittype.roulette'), limit_table_users_path(limittype: 2, format: :js), remote: true, class: 'btn btn-warning')
      -# .push-sm
      -# = f.fields_for @user_game_platformship do |game_platformship|
      -#   = game_platformship.number_field :video_limit, min: 1
      -#   = game_platformship.number_field :roulette_limit, min: 1
      -#   %b= t('.game_limit')
      -#   - @user_game_platformship.game_limit.split(',').each_with_index do |game_limit, index|
      -#     = game_platformship.check_box :game_limit, { name: "user[user_game_platformship][game_limit][#{index}]", id: "user_user_game_platformship_game_limit_#{index}", label: (index + 1).to_s, value: game_limit.to_i, checked: game_limit.to_i == 1 ? true: false }
      -# %hr
      = f.submit t('btn.save'), class: 'btn btn-success'