- if policy(:user).new?
  .pull-right= link_to(t('.add_user'), new_agent_user_path(current_agent), class: 'btn btn-default')
= search_form(:query, params[:query], request.path, placeholder: t('.search_placeholder'))
.clearfix
.push-xs
.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th{width: 50}= t('.lobby_id')
        %th{width: 200}= t('.username')
        -# %th= t('.nickname')
        %th.right{width: 150}
          = t('.credit')
        -# %th.center{width: 200}= t('.created_at')
        -# %th.center{width: 60}= t('.enabled')
        -# - unless current_account.in_final_level?
          %th{width: 80}= t('.agent')
        -# %th.center{width: 60}
        -# %th.center{width: 80}= t('.logs')
        -# %th.center{width: 60}
    %tbody
      - if @users.empty?
        %tr
          %td{colspan: 2}= t('shared.no_data')
      - @users.each do |user|
        = render_cell :users, :list, user: user
= will_paginate(@users)
