(function(){
  $limit_table = $("<%=j render 'limit_table' %>");
  if ($('#limit_table').size() > 0) {
    $('#limit_table').html($limit_table.html());
  } else {
    $('body').append($limit_table);
  }
  $('#limit_table').modal();
})();