.row
  .col-md-12
    %table.table
      %tr.success
        %td{colspan: 2}= t('.title')
      %tr
        %th{width: 100}= t('.lobby_id')
        %td= @user.lobby_id
      %tr
        %th{width: 100}= t('.username')
        %td= @user.username
      %tr
        %th{width: 150}= t('.name')
        %td= @user.name
      %tr
        %th{width: 150}= t('.nickname')
        %td= @user.nickname
      %tr
        %th{width: 150}= t('.email')
        %td= @user.email
      %tr
        %th{width: 150}= t('.mobile')
        %td= @user.mobile
      %tr
        %th{width: 150}= t('.qq')
        %td= @user.qq
      %tr
        %th= t('.login')
        %td
          - if @user.current_sign_in_at.present?
            = default_log_time(@user.current_sign_in_at)
          - else
            \ --
      %tr
        %th= t('.ip')
        %td
          - if @user.current_sign_in_ip.present?
            = @user.current_sign_in_ip
          - else
            \ --
      %tr
        %th= t('.credit')
        %td
          %strong.font-danger= default_currency(@user.credit_left)
      -# %tr
      -#   %th= t('.cashin_count')
      -#   %td
      -#     %strong.font-danger= default_currency(@user.cashin_count)
      -# %tr
      -#   %th= t('.cashin_total')
      -#   %td
      -#     %strong.font-danger= default_currency(@user.cashin_total)
      -# %tr
      -#   %th= t('.cashout_count')
      -#   %td
      -#     %strong.font-danger= default_currency(@user.cashout_count)
      -# %tr
      -#   %th= t('.cashout_total')
      -#   %td
      -#     %strong.font-danger= default_currency(@user.cashout_total)
      -# %tr
      -#   %th= t('.play_total')
      -#   %td
      -#     %strong.font-danger= default_currency(@user.play_total)
    .push-md
  .col-md-12
    .table-rwd
      %table.table
        %thead
          %tr.success
            %th= t('.agent')
            %th= t('.level')
            %th= t('.credit_max')
            %th= t('.credit_dispatched')
            -# %th= t('.casino_ratio')
        %tbody
          - @agents.each do |agent|
            - cache [agent, I18n.locale] do
              %tr
                %td{data: {th: t('.agent')}}= current_agent == agent ? agent.nickname : link_to(agent.nickname, agent, class: 'font-gary')
                %td{data: {th: t('.level')}}= agent.human_agent_level
                %td{data: {th: t('.credit_max')}}= agent.credit_max
                %td{data: {th: t('.credit_dispatched')}}= agent.credit_dispatched
                -# %td{data: {th: t('.casino_ratio')}}= agent.casino_ratio
  .col-md-8.col-md-offset-2
    .btn-group
    - if @user.lock?
      /= link_to(t('btn.unlock'), unlock_user_path(@user), method: :post, confirm: t('confirm.unlock_account'), class: 'btn btn-default btn-danger pull-right')
    - else
      /= link_to(t('btn.lock'), lock_user_path(@user), method: :post, confirm: t('confirm.lock_account'), class: 'btn btn-default pull-right')
