= render 'common/date_search_bar'
.push-xs
.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th.center= t('.from_platform')
        %th.center= t('.to_platform')
        %th.center= t('.action')
        %th.center= t('.credit')
        %th.center= t('.extra_deposit')
        %th.center= t('.credit_actual')
        %th.center= t('.before_balance')
        %th.center= t('.after_balance')
        %th.center= t('.time')
      %tbody
      - if @logs.empty?
        %tr
          %td{colspan: 8}= t('shared.no_data')
      - @logs.each do |log|
        %tr
          - form, to, action = transfer_credit_from_and_to_and_action(log)
          %td.center= form
          %td.center= to
          %td.center= action
          %td.center{data: {th: t('.credit')}}
            - if log.parameters.key?(:extra_deposit)
              = default_currency(log.parameters[:credit].to_f - log.parameters[:extra_deposit].to_f)
            - else
              = default_currency(log.parameters[:credit].to_f)
          %td.center{data: {th: t('.extra_deposit')}}
            - if log.parameters.key?(:extra_deposit)
              = default_currency(log.parameters[:extra_deposit])
            - else
              = default_currency(0.00)
          %td.center{data: {th: t('.credit')}}= log.parameters[:credit]
          %td.center{data: {th: t('.before_balance')}}
            - if log.parameters[:before_balance] == -1
              = t('.unusual')
            - else
              = default_currency(log.parameters[:before_balance])
          %td.center{data: {th: t('.after_balance')}}
            - if log.parameters[:after_balance] == -1
              = t('.unusual')
            - else
              = default_currency(log.parameters[:after_balance])
          %td.center= default_log_time(log.created_at)
= will_paginate(@logs)