# Pjax Setting (Progress bar)
NProgress.configure
  showSpinner: false
  ease: 'ease'
  speed: 500

init = ->
  # Date Range Picker Events
  bindDateRangeForm = ->
    columns = $('[name="search[begin_date]"], [name="search[end_date]"]')
    columns.datepicker
          format: 'yyyy-mm-dd'
          language: 'zh-TW'
          autoclose: true
          numberOfMonths: 2

    columns.on 'change', ->
      this.form.submit()

  # Lang Switcher
  langMenu = $('#lang-menu')
  langBox = langMenu.find('.current-lang-box')

  currentLang = langMenu.attr('lang')
  langBox.html(langMenu.find(".lang-#{currentLang}").html())

  # Date Range form
  $('.form-date-range').each ->
    today = new Date
    $form = $(this)
    $items = $form.find('[name=begin_date], [name=end_date]')
    $items.each ->
      # Date picker event
      $item = $(this)
      $item.datetimepicker
        format: 'yyyy-mm-dd hh:ii:ss'
        autoclose: true
        calendarWeeks: true
        endDate: today
      .on 'change', ->
        return if $form.find('[name=begin_date]').val() == '' || $form.find('[name=end_date]').val() == ''
        $form.submit()
  $('.form-date-range-noform').each ->
    today = new Date
    $form = $(this)
    $items = $form.find('[name=begin_date], [name=end_date]')
    $items.each ->
      # Date picker event
      $item = $(this)
      $item.datetimepicker
        format: 'yyyy-mm-dd hh:ii'
        autoclose: true
        calendarWeeks: true
        endDate: today

  # Tooltips
  $('[data-toggle=tooltip]').tooltip()

  # Copyme
  copy_me_links = $(".copy_me")
  <%# new ZeroClipboard(copy_me_links) %>
  copy_me_links.click (e) ->
    e.preventDefault();
    $button = $(this)
    originMessage = $button.text()
    $button.html("<i class='fa fa-check'></i> #{$button.data('done')}")
    copyText = document.getElementById("input-copy")
    copyText.select()
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy")

    setTimeout ->
      $button.text(originMessage)
    , 500

$(document).ready(init)
$(document).on('page:load', init)
$(document).on "page:before-change", ->
  ZeroClipboard.destroy()
