pusherMeta = $('meta#pusher')
pusher = new Pusher(pusherMeta.data('key'), authEndpoint: pusherMeta.data('authEndPoint'));

globalAgentChannel = pusher.subscribe('<%= Gambo::Channel::AGENT %>')

globalAgentChannel.bind 'site_updated', (data) ->
  marquee = $('#marquee')
  # 1. update marquee
  if marquee.text() != data.marquee
    marquee.html(data.marquee).addClass('updated')
    setTimeout ->
      marquee.removeClass('updated')
    , 3000

  # 2. check if sites maintenance
  if data.maintenance == true
    unless $('body').data('maintenance') == 1
      alert('Site maintenance')
      window.location.reload()
  else if data.maintenance == false
    if $('body').data('maintenance') == 1
      window.location.reload()

globalAgentChannel.bind 'update_jackpot', (data) ->
  total_jackpot = $('#total_jackpot')
  if total_jackpot.text() != data.total_jackpot
    total_jackpot.text(data.total_jackpot).addClass('font-danger')
    setTimeout ->
      total_jackpot.removeClass('font-danger')
    , 3000