#game_result.modal.modal-map.fade{tabindex: -1,role: 'dialog', class: 'modal-enter-close game_result', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title= t('histories_game_column.game_result')
      .modal-body
        %table.center
          -if game_data[:game_kind] == "3001"
            %tr
              %th.center.font-md= t('histories_game_column.banker')
              %th.center.font-md= t('histories_game_column.player')
            %tr
              %td
                - game_data[:banker_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
                .font-md= game_data[:banker_point]
              %td
                - game_data[:player_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
                .font-md= game_data[:player_point]

          -if game_data[:game_kind] == "3010"
            %tr
              %td.center.font-md= t('platform.bbin.game.texas_hold.banker')
              %td
                - game_data[:banker_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
            %tr
              %td.center.font-md= t('platform.bbin.game.texas_hold.player')
              %td
                - game_data[:player_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
            %tr
              %td.center.font-md= t('platform.bbin.game.texas_hold.open')
              %td
                - game_data[:open_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
            %tr
              %td.center.font-md= t('platform.bbin.game.texas_hold.best')
              %td
                - game_data[:best_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")

          -if game_data[:game_kind] == "3006"
            %tr
              %th.center.font-md= t('platform.bbin.game.wenzhou_pai_gow.banker')
              %th.center.font-md= t('platform.bbin.game.wenzhou_pai_gow.along')
              %th.center.font-md= t('platform.bbin.game.wenzhou_pai_gow.out')
              %th.center.font-md= t('platform.bbin.game.wenzhou_pai_gow.to')
            %tr
              %td
                - game_data[:banker_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
              %td
                - game_data[:alone_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
              %td
                - game_data[:out_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
              %td
                - game_data[:to_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
            %tr
              %td.pt-s{:colspan => "4"}
                .font-md
                  %span
                    = t('platform.bbin.game.wenzhou_pai_gow.p1')
                    \:
                    = t("platform.bbin.result_type.#{game_data[:players_result][0]}")
                    ,
                  %span
                    = t('platform.bbin.game.wenzhou_pai_gow.p2')
                    \:
                    = t("platform.bbin.result_type.#{game_data[:players_result][1]}")
                    ,
                  %span
                    = t('platform.bbin.game.wenzhou_pai_gow.p3')
                    \:
                    = t("platform.bbin.result_type.#{game_data[:players_result][2]}")

          -if game_data[:game_kind] == "3014"
            %tr
              %th.center.font-md= t('histories_game_column.banker')
              %th.center.font-md= t('histories_game_column.player')
            %tr
              %td
                %span.font-xl= game_data[:banker_point]
              %td
                %span.font-xl= game_data[:player_point]

          -if game_data[:game_kind] == "3003"
            %tr
              %th.center.font-md= t('histories_game_column.dragon')
              %th.center.font-md= t('histories_game_column.tiger')
            %tr
              %td
                = image_tag("pokers/#{game_data[:dragon_poker]}.png")
                .font-md= game_data[:dragon_point]
              %td
                = image_tag("pokers/#{game_data[:tiger_poker]}.png")
                .font-md= game_data[:tiger_point]

          -if game_data[:game_kind] == "3011"
            %span.font-xl
              = game_data[:result][0]
              = t("platform.bbin.game.color_singles.#{game_data[:result][1]}")
              = game_data[:result][2]
              = t("platform.bbin.game.color_singles.#{game_data[:result][3]}")

          -if %w(3005 3012).include? game_data[:game_kind]
            %tr
              %th.center.font-md= t('platform.bbin.game.excellencies.banker')
              %th.center.font-md= t('platform.bbin.game.excellencies.p1')
              %th.center.font-md= t('platform.bbin.game.excellencies.p2')
              %th.center.font-md= t('platform.bbin.game.excellencies.p3')
            %tr
              %td
                - game_data[:banker_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
              %td
                - game_data[:p1_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
              %td
                - game_data[:p2_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
              %td
                - game_data[:p3_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
            %tr
              %td.pt-s.font-xl= game_data[:banker_point]
              %td.pt-s.font-xl= game_data[:p1_point]
              %td.pt-s.font-xl= game_data[:p2_point]
              %td.pt-s.font-xl= game_data[:p3_point]


          -if game_data[:game_kind] == "3002"
            %tr
              %th.center.font-md= t('platform.bbin.game.mahjong.banker')
              %th.center.font-md= t('platform.bbin.game.mahjong.up')
              %th.center.font-md= t('platform.bbin.game.mahjong.mid')
              %th.center.font-md= t('platform.bbin.game.mahjong.bottom')
            %tr
              %td
                - game_data[:banker_mahjongs].each do |mahjong|
                  -if mahjong != ""
                    = image_tag("mahjongs/#{mahjong}.png")
              %td
                - game_data[:up_mahjongs].each do |mahjong|
                  -if mahjong != ""
                    = image_tag("mahjongs/#{mahjong}.png")
              %td
                - game_data[:mid_mahjongs].each do |mahjong|
                  -if mahjong != ""
                    = image_tag("mahjongs/#{mahjong}.png")
              %td
                - game_data[:bottom_mahjongs].each do |mahjong|
                  -if mahjong != ""
                    = image_tag("mahjongs/#{mahjong}.png")
            %tr
              %td.pt-s.font-xl= game_data[:banker_point]
              %td.pt-s.font-xl= game_data[:up_point]
              %td.pt-s.font-xl= game_data[:mid_point]
              %td.pt-s.font-xl= game_data[:bottom_point]

          -if game_data[:game_kind] == "3008"
            - game_data[:dices].each do |dice|
              = image_tag("dices/dice_0#{dice}.png")

          -if %w(3007 3015).include? game_data[:game_kind]
            %span.font-xl= game_data[:point]


      .modal-footer
        = link_to(t('btn.close'), '' ,class: 'btn btn-success run-and-close-modal', data: {dismiss: 'modal'})
