- cache [bet_form, I18n.locale] do
  = content_tag_for(:tr, bet_form) do
    %td{data: {th: t('.game_record_id')}}
      = bet_form.order_number
    %td{data: {th: t('.game_platform')}}= bet_form.game_platform.human_platform_name
    %td.center{data: {th: t('.game_type')}}= t("game_platforms.categories_id.#{bet_form.game_type_id}")
    %td{data: {th: t('.agent')}}= link_to(bet_form.agent.username, bet_form.agent, class: "font-gary")
    %td{data: {th: t('.user')}}= link_to(bet_form.user.lobby_id, user_path(bet_form.user), class: "font-gary")
    -# - if greater_shareholder_level(current_agent)
    -#   %td.right{data: {th: t('.shareholder_win_amount')}}= currency_format(bet_form.shareholder_win_amount)
    -# - if greater_director_level(current_agent)
    -#   %td.right{data: {th: t('.director_win_amount')}}= currency_format(bet_form.director_win_amount)
    -# - if greater_agent_level(current_agent)
    -#   %td.right{data: {th: t('.agent_win_amount')}}= currency_format(bet_form.agent_win_amount)
    %td.center{data: {th: t('.game_kind')}}= t("platform.#{bet_form.game_platform.name}.game_kind.#{bet_form.game_kind}")
    -# %td.right{data: {th: t('.compensate_rate')}}= bet_form.compensate_rate
    %td.right{data: {th: t('.bet_total_credit')}}= default_currency(bet_form.bet_total_credit)
    %td.right{data: {th: t('.valid_amount')}}= default_currency(bet_form.valid_amount)
    %td.right{data: {th: t('.reward_amount')}}= bonus_currency(bet_form.reward_amount)
    %td.center{data: {th: t('.result_type')}}
      - if bet_form.user_credit_diff.to_i > 0
        = t("platform.#{bet_form.game_platform.name}.result_type.2")
      - else
        = t("platform.#{bet_form.game_platform.name}.result_type.1")
    %td.right{data: {th: t('.user_credit_diff')}}= user_currency_format(bet_form.user_credit_diff)
    -# %td.center{data: {th: "#{t('.table_id')}/#{t('.stage')}/#{t('.inning')}"}}
      = "#{bet_form.table_id}/#{bet_form.stage}/#{bet_form.inning}"
      %br
      - if bet_form.game_platform.has_result?
        = link_to(t('histories_game_column.game_result'), game_result_histories_game_index_path(bet_form_id: bet_form.id, format: :js), method: :get, remote: true)
    %td.right{data: {th: t('.betting_at')}}= default_log_time(bet_form.betting_at)
    %td.center{data: {th: t('.details')}}
      - unless bet_form.from == 'east'
        - bet_form_info = JSON.parse(bet_form.response)
        - if !bet_form_info.kind_of?(Hash) || bet_form_info["detail_url"].nil?
          \--
        - else
          = link_to(t('.details'), bet_form_info["detail_url"], class: "btn btn-default btn-xs", target: '_blank')