(function(){
  $("#game_result").remove();
  var platform = "<%=j @platform_name%>";
  switch(platform){
    case "east":
      $game_result = $("<%=j render('histories/game/east_game_result', game_data: @game_data) %>");
      break;
    case "bbin":
      $game_result = $("<%=j render('histories/game/bbin_game_result', game_data: @game_data) %>");
      break;
  }

  $('body').append($game_result);
  $('#game_result').modal();
})();
