.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th= t('.title')
        %th.right{width: 200}= t('.time')
    %tbody
      - if @news.empty?
        %tr
          %td{colspan: 6}= t('shared.no_data')
      - @news.each do |news|
        %tr
          %td{data: {th: t('.title')}}= link_to(news.title, news_path(news), class: 'font-gary')
          %td.right{data: {th: t('.time')}}= default_log_time(news.created_at)
= will_paginate(@news)