- cache [bet_form, current_agent, I18n.locale] do
  = content_tag_for(:tr, bet_form) do
    %td{data: {th: t('.shop')}}= link_to(bet_form.agent.username, bet_form.user.agent, class: 'font-gary')
    %td{data: {th: t('.player')}}= bet_form.user.title
    - if greater_shareholder_level(current_agent)
      %td.right{data: {th: t('.shareholder_win_amount')}}= currency_format(bet_form.shareholder_win_amount)
    - if greater_director_level(current_agent)
      %td.right{data: {th: t('.director_win_amount')}}= currency_format(bet_form.director_win_amount)
    - if greater_agent_level(current_agent)
      %td.right{data: {th: t('.agent_win_amount')}}= currency_format(bet_form.agent_win_amount)
    %td.center{data: {th: t('.game_model')}}= bet_form.slot_machine.human_game_name
    %td.right{data: {th: t('.bet_total_credit')}}
      = "#{default_currency(bet_form.bet_total_credit)} = #{default_currency(bet_form.bet_credit)} * #{bet_form.bet_line}".html_safe
    %td.right{data: {th: t('.reward_amount')}}= bonus_currency(bet_form.reward_amount)
    %td.center{data: {th: t('.free_spin')}}
      = "#{bet_form.free_spin_used} / #{bet_form.free_spin_count}" if bet_form.free_spin_count > 0
    - unless Setting.api_site?
      %td.center{data: {th: t('.jackpot')}}
        - case bet_form.jackpot_type
        - when :primary
          %span.label.label-danger{title: bet_form.jackpot, data: {toggle: 'tooltip', placement: 'right'}}
            = bet_form.human_jackpot_type
        - when :major
          %span.label.label-primary{title: bet_form.jackpot, data: {toggle: 'tooltip', placement: 'right'}}
            = bet_form.human_jackpot_type
        - when :minor
          %span.label.label-success{title: bet_form.jackpot, data: {toggle: 'tooltip', placement: 'right'}}
            = bet_form.human_jackpot_type
    %td.center{data: {th: t('.ip')}}= bet_form.ip.nil? ? '-' : bet_form.ip
    %td.right{data: {th: t('.created_at')}}= default_log_time(bet_form.created_at)

