%ul.nav.navbar-nav
  - if policy(:user).index?
    %li.dropdown
      = link_to(void_link, class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
        = t('.users')
        .fa.fa-caret-down
      %ul.dropdown-menu
        %li= link_to(t('.user.list'), users_path)
        %li= link_to(t('.user.logs'), logs_users_path)
  %li= link_to(t('.user_withdraws'), withdraws_path(status: 'pending')) if policy(:withdraws).all?
  - unless current_agent.in_final_level?
    - if policy(:machine).index?
      %li.dropdown
        = link_to(void_link, class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
          = t('.machines')
          .fa.fa-caret-down
        %ul.dropdown-menu
          %li= link_to(t('.machine.list'), machines_path)
          %li= link_to(t('.machine.logs'), logs_machines_path)
    - if policy(:agent).index?
      %li.dropdown
        = link_to(void_link, class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
          = t('.agents')
          .fa.fa-caret-down
        %ul.dropdown-menu
          %li= link_to(t('.agent.all'), agents_path, class: 'title sub_item')
          - enum_option_pairs(Agent, :agent_levels).each do |level, agent_level|
            %li= link_to(level, agent_levels_path(agent_level: agent_level), class: 'title sub_item') if Agent.agent_levels[agent_level] > current_agent.agent_level_cd
  - if policy(:withdraw).agent?
    %li.dropdown
      = link_to(void_link, class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
        = t('.withdraws')
        .fa.fa-caret-down
      %ul.dropdown-menu
        %li= link_to(t('common.menu.withdraw.agent.deposits'), new_withdraw_agent_deposit_path, class: 'title sub_item')
        %li= link_to(t('common.menu.withdraw.agent.cashouts'), new_withdraw_agent_cashout_path, class: 'title sub_item')
        %li= link_to(t('common.menu.withdraw.agent.logs'), withdraw_agent_withdraws_path, class: 'title sub_item')
  - if policy(:finance).all? || policy(:history).all?
    %li.dropdown
      = link_to(void_link, class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
        = t('.report')
        .fa.fa-caret-down
      %ul.dropdown-menu
        %li= link_to(t('.finances'), finances_path, class: 'title sub_item') if policy(:finance).all?
        %li= link_to(t('.withdraw_reports'), agent_withdraws_path(current_agent), class: 'title sub_item') if policy(:finance).all? && current_account.is_points_type? == false
        %li= link_to(t('.histories_slots'), histories_game_index_path, class: 'title sub_item') if policy(:history).all?
  - if policy(:schedule).all?
    %li.dropdown
      = link_to(void_link, class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
        = t('.games')
        .fa.fa-caret-down
      %ul.dropdown-menu
        %li= link_to(t('.schedules'), schedules_racings_path, class: 'title sub_item')
  %li= link_to(t('.news.list'), news_index_path) if policy(:news).all?
  %li= link_to(t('.commissions'), commissions_path) if policy(:commissions).all?