%nav#header.navbar.navbar-default.navbar-fixed-top{role: "navigation", class: current_agent.agent_level}
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: {target: '#menu-navigation', toggle: 'collapse'} }
        %span.sr-only Open Menu
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand= link_to("#{Setting.title} #{current_agent.human_agent_level}", root_path)
    #menu-navigation.collapse.navbar-collapse
      = render_cell :common, :menu
      %ul#nav-user.nav.navbar-nav.navbar-right
        %li.dropdown
          %a{ href: void_link, 'data-toggle' => 'dropdown' }
            = current_account.username
            %i.fa.fa-caret-down
          %ul.dropdown-menu
            %li= link_to(t('.my.account'), edit_registration_path(current_account))
            - if policy(:common).sub_accounts?
              %li= link_to(t('.my.sub_accounts'), accounts_path)
              %li= link_to(t('.my.logs'), logs_path)
        %li#lang-menu.dropdown{ lang: I18n.locale }
          %a{ href: void_link, 'data-toggle' => 'dropdown' }
            %span.current-lang-box
            %i.fa.fa-caret-down
          %ul.dropdown-menu
            %li= link_to('繁體中文', { locale: 'zh-TW' }, class: 'lang-zh-TW')
            %li= link_to('简体中文', { locale: 'zh-CN' }, class: 'lang-zh-CN')
            %li= link_to('English', { locale: :en }, class: 'lang-en')
        %li
          = link_to(destroy_session_path(current_account), method: :delete, confirm: t('confirm.logout')) do
            .fa.fa-sign-out
            = t('.logout')