.row
  .col-md-8
    .btn-group
      = render_list class: 'nav nav-pills' do |li|
        - li << link_to(t('btn.edit'), edit_agent_path(@agent))
        - li << link_to(t('btn.view'), @agent)
        - li << link_to(t('.histories_slots'), URI.decode(histories_game_index_path(role: {"#{@agent.agent_level}_id" => @agent.id})))
        - li << link_to(t('.finances'), agent_finances_path(@agent))
        - li << link_to(t('.action_logs'), agent_logs_path(@agent))
        - li << link_to(t('.change_logs'), change_agent_logs_path(@agent))
  .col-md-4
    %hr.hidden-lg.hidden-md
    .pull-right
      - if policy(:'agent/cashout').create?
        - if current_agent.director?
          = link_to(t('.cashout'), agent_cashouts_path(@agent), method: :post, confirm: t('.cashout_confirm', credit_left: @agent.credit_left, credit_max: @agent.credit_max), class: 'btn btn-default')
        - unless @agent.current_agent?
          = render_lock_buttom(@agent)
%hr