- if @form.parent.present?
  - if @form.parent["type_cd"] == 0
    = f.number_field :casino_ratio, help: t('shared.ratio_tip', agent: @form.parent.username, ratio: @form.parent.casino_ratio)
  - else
    = f.number_field :casino_ratio, {:value => 100, :readonly => true}
- else
  = f.number_field :casino_ratio