.row
  .col-xs-8= render_cell :agents, :filter_bar, value: params[:query]
  .col-xs-4= link_to(t('.add_children_btn'), new_agent_child_path(current_agent), class: 'btn btn-danger pull-right btn-hover') if policy(:agent).edit?
.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th{width: 70}= t('.agent_level')
        %th{width: 120}= t('.username')
        %th= t('.nickname')
        %th.center{width: 50}= t('.enabled')
        - if current_account.is_points_type?
          %th.right{width: 100}= t('.points')
        - else
          %th.right{width: 100}= t('.credit')
          %th.right{width: 100}= t('.credit_dispatched')
        %th.center{width: 120}= t('.users_count')
        %th.center{width: 120}= t('.childrens_count')
        %th.center{width: 50}
    %tbody
      - if @agents.empty?
        %tr
          %td{colspan: 10}= t('shared.no_data')
      - @agents.each do |agent|
        - cache [agent, I18n.locale] do
          %tr
            %td{data: {th: t('.agent_level')}}= agent.human_agent_level
            %td{data: {th: t('.username')}}= link_to(agent.username, agent, class: 'font-gary')
            %td{data: {th: t('.nickname')}}= link_to(agent.nickname, agent, class: 'font-gary')
            %td.center{data: {th: t('.enabled')}}= icon_check(agent, :lock?, false)
            - if current_account.is_points_type?
              %td.right{data: {th: t('.points')}}
                %small.font-gary= default_currency(agent.points)
            - else
              %td.right{data: {th: t('.credit')}}
                %small.font-gary= default_currency(agent.credit_max)
              %td.right{data: {th: t('.credit_dispatched')}}
                %small.font-gary= default_currency(agent.credit_dispatched)
            %td.right{data: {th: t('.users_count')}}
              = link_to("#{agent.all_users.size}", agent_users_path(agent), class: 'btn btn-xs btn-default')
            %td.center{data: {th: t('.childrens_count')}}
              - if agent.in_final_level?
                \--
              - else
                = link_to("#{agent.children.count} / #{agent.total_agents_count}", agent_childs_path(agent), class: 'btn btn-xs btn-default')
                = link_to(new_agent_child_path(agent), class: 'btn btn-xs btn-default') do
                  .fa.fa-plus
            %td
              = link_to(t('btn.edit'), edit_agent_path(agent), class: 'btn btn-xs btn-default') if policy(:agent).edit?
              = link_to(t('btn.cash_log'), withdraw_agent_withdraws_path(id: agent.id), class: 'btn btn-xs btn-default') if policy(:agent).edit?
= will_paginate(@agents)