- player = @racing_bet_form.machine.nil? ? @racing_bet_form.user : @racing_bet_form.machine
#sub_bet_forms.modal.fade{tabindex: -1,role: 'dialog', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %span.modal-title.font-md= "#{player.title} - #{t('.sub_bet_forms_detail')}"
      .modal-body
        .table-responsive
          %table.table
            %thead
              %tr.active
                %th.left{width: 75}= t('.bet_credit')
                %th.center{data: {priority: '3'}}= t('.bet_type')
                %th.center= t('.bet_number')
                %th.right{data: {priority: '3'}}= t('.odds')
                %th.right= t('.reward_amount')
            %tbody
              - if @sub_bet_forms.empty?
                %tr
                  %td{colspan: 2}= t('shared.no_data')
              - @sub_bet_forms.each do |sub_bet_form|
                %tr
                  %td.right= default_currency(sub_bet_form.bet_credit)
                  %td.center= sub_bet_form.bet_type
                  %td.center= sub_bet_form.bet_number
                  %td.right= sub_bet_form.odds
                  %td.right= bonus_currency(sub_bet_form.reward_amount)
      .modal-footer
        %button.btn.btn-default.pull-right{data: {dismiss: 'modal'}}= t('btn.close')