= render 'histories/filter_bar', type: 'racing'
.table-responsive
  %table.table.table-valign-middle.table-font-sm.table-hover
    %thead
      %tr.success
        %th{width: 80, data: {priority: '6'}}= t('.shop')
        %th= t('.player')
        - if greater_shareholder_level(current_agent)
          %th.right{width: 80}= t('.shareholder_win_amount')
        - if greater_director_level(current_agent)
          %th.right{width: 80}= t('.director_win_amount')
        - if greater_agent_level(current_agent)
          %th.right{width: 80}= t('.agent_win_amount')
        %th.right{width: 130, data: {priority: '3'}}= t('.bet_total_credit')
        %th.right{width: 70, data: {priority: '3'}}= t('.bet_count')
        %th.right{width: 70, data: {priority: '3'}}= t('.reward_amount')
        %th.center{width: 130}= t('.created_at')
    - if @bet_forms.empty?
      %tr
        %td{colspan: 6}= t('shared.no_data')
    = render partial: 'racing_bet_form', collection: @bet_forms
= will_paginate(@bet_forms)
