%ul.nav
  .pull-right
    / filter bar
    %ul{class: 'nav nav-pills pull-left push-right-xs'}
      %li= nav_link(t('.all'), withdraws_path(type: 'all'), class: 'hidden-sm hidden-xs')
      -# pc
      - Withdraw.statuses.each do |status, id|
        - unless status == 'failed' || status == 'waiting_to_deposit'
          %li
            = nav_link(t("activerecord.enums.withdraw.status.#{status}"), withdraws_path(status: status), class: 'hidden-sm hidden-xs', count: @withdarw_count[id])
      -# mobile
      %li{role: "presentation", class: "dropdown hidden-md hidden-lg"}
        = link_to(withdraws_path, class: "dropdown-toggle", data: {toggle:"dropdown"}, href: "#" ,role: "button", aria: {haspopup: "true", expanded: "false"}) do
          = t('.select')
          %span.caret
        %ul.dropdown-menu
          %li= nav_link(t('.all'), withdraws_path)
          - Withdraw.statuses.each do |status, id|
            %li= nav_link(t("activerecord.enums.withdraw.status.#{status}"), withdraws_path(status: status))
  / search form
  = search_form_type(:query, params[:query], withdraws_path, type, placeholder: t('.search_placeholder'))
.push-xs