- cache [withdraw] do
  = content_tag_for(:tr, withdraw) do
    %td{data: {th: t('.id')}}= withdraw.trade_no
    %td{data: {th: t('.player')}}= link_to(withdraw.user.title, withdraw.user, class: 'font-gary')
    %td{data: {th: t('.type')}}= t("activerecord.enums.withdraw.types.#{withdraw.type}")
    %td.right{data: {th: t('.amount')}}= default_currency(withdraw.credit)
    %td.right{data: {th: t('.datetime')}}= default_log_time(withdraw.created_at)
    %td.right{data: {th: t('.update_time')}}
      -if withdraw.created_at < withdraw.updated_at
        = default_log_time(withdraw.updated_at)
      - else
        \--
    %td.center{data: {th: t('.status')}}= withdraw.human_status
    %td.center
      - if withdraw.may_proccess? || withdraw.may_finish? || withdraw.may_reject? || withdraw.may_remove?
        = link_to(t('.proccessing'), withdraw_path(withdraw, status: 'proccessing'), method: :put, data: { confirm: t(".proccessing_confirm") }, class: 'btn btn-primary btn-xs') if withdraw.may_proccess?
        - if withdraw.may_finish?
          = link_to(t('.transfer'), withdraw_path(withdraw, status: 'transferred'), method: :put, data: { confirm: t(".transfer_confirm") }, class: 'btn btn-success btn-xs')
          -# %button.btn.btn-success.btn-xs{"data-target" => "#withdrawFinish_#{withdraw.trade_no}", "data-toggle" => "modal", :type => "button"}= t('.transfer')
      - else
        \--
    %td.center
      - if withdraw.may_remove?
        = link_to(t('.remove'), withdraw_path(withdraw, status: 'removed'), method: :delete, data: { confirm: t(".remove_confirm") }, class: 'btn btn-danger btn-xs')
      - else
        \--
    %td.center= link_to(t('btn.view'), withdraw_path(withdraw))