.row
  .col-md-8.col-md-offset-2
    %h3= t('.cashout')
    %ul.list-group
      %li.list-group-item
        %strong= t('.player')
        = link_to(@withdraw.user.title, @withdraw.user, class: 'font-gary')
      %li.list-group-item
        %strong= Withdraw.human_attribute_name(:status)
        .label.label-danger= @withdraw.human_status
      %li.list-group-item
        %strong= Withdraw.human_attribute_name(:amount)
        %strong.font-success= default_currency(@withdraw.credit)
      %li.list-group-item
        %strong= Withdraw.human_attribute_name(:created_at)
        %strong.font-success= default_log_time(@withdraw.created_at)

    %h3= t('.title_account')
    %ul.list-group
      %li.list-group-item.left
        %strong= t('.name')
        = @withdraw.bank_account_info[:title]
      %li.list-group-item.left
        %strong= t('.mobile')
        = @withdraw.user.mobile
      %li.list-group-item.left
        %strong= BankAccount.human_attribute_name(:bank_id)
        - if @withdraw.bank_account_info[:bank_id].present?
          = t("bank_accounts.bank_title.#{@withdraw.bank_account_info[:bank_id]}")
      %li.list-group-item.left
        %strong= BankAccount.human_attribute_name(:city)
        = @withdraw.bank_account_info[:city]
      %li.list-group-item.left
        %strong= BankAccount.human_attribute_name(:province)
        = @withdraw.bank_account_info[:province]
      %li.list-group-item.left
        %strong= BankAccount.human_attribute_name(:subbranch)
        = @withdraw.bank_account_info[:subbranch]
      %li.list-group-item.left
        %strong= BankAccount.human_attribute_name(:account)
        = @withdraw.bank_account_info[:account]