.nav-with-form
  .hidden-xs.hidden-sm
    - if current_agent.shareholder?
      / filter bar
      = render_list class: 'nav nav-pills pull-left push-right-xs' do |li|
        - li << link_to(t('.all'), agents_path)
        - li << link_to(t('.director'), agent_levels_path(agent_level: :director))
        - li << link_to(t('.agent'), agent_levels_path(agent_level: :agent))
  / search form
  = search_form(:query, @value, agents_path, placeholder: t('.search_placeholder'))
.push-xs
.clearfix