.col-md-3
  .panel.panel-info
    - if false
      .panel-heading= @agent.system_id
      %ul.list-group
        - if current_account.is_points_type?
          %li.list-group-item
            %h4.list-group-item-heading= t('.points')
            %p.list-group-item-text= default_currency(@agent.points)
        - else
          %li.list-group-item
            %h4.list-group-item-heading= t('.credit_max')
            %p.list-group-item-text= default_currency(@agent.credit_max)
          %li.list-group-item
            %h4.list-group-item-heading= t('.credit_dispatched')
            %p.list-group-item-text= default_currency(@agent.credit_dispatched)
        %li.list-group-item
          %h4.list-group-item-heading= t('.casino_ratio')
          %p.list-group-item-text= "#{@agent.casino_ratio}%"
        .panel-heading= t('.information')
        %ul.list-group
          %li.list-group-item
            %h4.list-group-item-heading= t('.users')
            %p.list-group-item-text
              = link_to(@agent.users.size, agent_users_path(@agent), class: 'btn btn-default')
    - else
      .panel-heading= t('.information')
      %ul.list-group
        %li.list-group-item
          %h4.list-group-item-heading= t('.agents_count')
          %p.list-group-item-text
            = link_to(@agent.total_agents_count, agent_childs_path(@agent), class: 'btn btn-default')
        %li.list-group-item
          %h4.list-group-item-heading= t('.childrens')
          %p.list-group-item-text
            = link_to(@agent.children.size, agent_childs_path(@agent), class: 'btn btn-default')
            = link_to(new_agent_child_path(@agent), class: 'btn btn-default') do
              %i.fa.fa-plus