= render_list class: 'nav nav-pills' do |li|
  - li << link_to(t('.action_logs'), account_logs_path(@account))
  - li << link_to(t('.change_logs'), change_account_logs_path(@account))
%hr
= render template: 'logs/index'