.row
  .col-md-6.col-md-offset-1.form-date-range-noform
    = bootstrap_form_for(@withdraw, url: withdraw_agent_deposits_path, method: :post) do |f|
      %legend= t('.title')
      = f.text_field :username, data: {autocomplete: autocomplete_agent_username_withdraw_agent_deposits_path, 'update-elements'=> '{}'}, required: true
      = f.number_field :points, required: true, step: '0.01'
      = f.text_area :note
      = f.form_group do
        = f.submit t('btn.confirm'), class: 'btn btn-success'
      .push-s
  .col-md-5#agent_data.hidden
    %table.table
      %tr.success
        %td{colspan: 2}= t('.agent.title')
      %tr
        %th{width: 120}= t('.agent.username')
        %td.username
      %tr
        %th{width: 120}= t('.agent.nickname')
        %td.nickname
      %tr
        %th= t('.agent.login')
        %td.login
      %tr
        %th= t('.agent.ip')
        %td.ip
      %tr
        %th= t('.agent.points')
        %td
          %strong.font-danger.points
      %tr
        %th= t('.agent.parent_points')
        %td
          %strong.font-success.parent_points
= javascript_include_tag 'pages/agent_withdraw'