- cache [bet_form, I18n.locale] do
  = content_tag_for(:tr, bet_form) do
    %td{data: {th: t('.row_id')}}= bet_form.row_id
    %td{data: {th: t('.game_platform')}}= bet_form.game_platform.human_platform_name
    %td{data: {th: t('.shop')}}= link_to(bet_form.agent.username, bet_form.agent, class: "font-gary")
    %td{data: {th: t('.player')}}= link_to(bet_form.user.title, user_path(bet_form.user), class: "font-gary")
    - if greater_shareholder_level(current_agent)
      %td.right{data: {th: t('.shareholder_win_amount')}}= currency_format(bet_form.shareholder_win_amount)
    - if greater_director_level(current_agent)
      %td.right{data: {th: t('.director_win_amount')}}= currency_format(bet_form.director_win_amount)
    - if greater_agent_level(current_agent)
      %td.right{data: {th: t('.agent_win_amount')}}= currency_format(bet_form.agent_win_amount)
    %td.right{data: {th: t('.game')}}= t("mg.html5.games.#{bet_form.game_id}")
    %td.right{data: {th: t('.bet_total_credit')}}= default_currency(bet_form.bet_total_credit)
    %td.right{data: {th: t('.reward_amount')}}= bonus_currency(bet_form.reward_amount)
    %td.right{data: {th: t('.user_credit_diff')}}= user_currency_format(bet_form.user_credit_diff)
    %td.right{data: {th: t('.betting_at')}}= default_log_time(bet_form.betting_at)