= render 'histories/filter_bar', type: 'electronic_game'
.push-xs
.table-rwd
  %table.table.table-valign-middle.table-font-sm
    %thead
      %tr.success
        %th{width: 80}= t('.row_id')
        %th{width: 40}= t('.game_platform')
        %th{width: 60}= t('.shop')
        %th{width: 150}= t('.player')
        - if greater_shareholder_level(current_agent)
          %th.right{width: 60}= t('.shareholder_win_amount')
        - if greater_director_level(current_agent)
          %th.right{width: 60}= t('.director_win_amount')
        - if greater_agent_level(current_agent)
          %th.right{width: 60}= t('.agent_win_amount')
        %th.center{width: 100}= t('.game')
        %th.right{width: 80}= t('.bet_total_credit')
        %th.right{width: 70}= t('.reward_amount')
        %th.right{width: 70}= t('.user_credit_diff')
        %th.center{width: 180}= t('.betting_at')
    %tbody
      - if @bet_forms.empty?
        %tr
          %td{colspan: 12}= t('shared.no_data')
      = render partial: 'bet_form', collection: @bet_forms
= will_paginate(@bet_forms)
