.row
  .col-md-8.col-md-offset-2
    = bootstrap_form_for(@form, url: agent_childs_path, layout: :horizontal) do |f|
      %legend= t('.form_title', agent_level: @form.human_agent_level)
      = f.static_control :parent do
        %strong.font-danger
          = "#{@form.parent.username} #{@form.parent.nickname} (#{@form.parent.human_agent_level})"
        = f.hidden_field :parent_id
      = f.text_field :nickname, autofocus: true
      = f.text_field :username
      = f.password_field :password
      = f.password_field :password_confirmation
      = render 'agents/finances', f: f
      = f.form_group do
        = f.submit t('btn.save')
