= render 'histories/filter_bar', type: 'main'
= render 'histories/main/filter_bar', type: 'little_mary'
.table-rwd
  %table.table.table-valign-middle.table-font-sm
    %thead
      %tr.success
        %th{width: 60}= t('.shop')
        %th{width: 130}= t('.player')
        - if greater_shareholder_level(current_agent)
          %th.right{width: 80}= t('.shareholder_win_amount')
        - if greater_director_level(current_agent)
          %th.right{width: 80}= t('.director_win_amount')
        - if greater_agent_level(current_agent)
          %th.right{width: 80}= t('.agent_win_amount')
        %th.center{width: 80}= t('.game_model')
        %th.right{width: 150}= t('.bet_total_credit')
        %th.right{width: 70}= t('.reward_amount')
        %th.center{width: 70}= t('.free_spin')
        %th.center{width: 70}= t('.ip')
        %th.center{width: 180}= t('.created_at')
    - if @bet_forms.empty?
      %tr
        %td{colspan: 12}= t('shared.no_data')
    = render partial: 'bet_form', collection: @bet_forms
= will_paginate(@bet_forms)
