!!!
%html
  %head
    %meta{id: 'viewport', name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=no'}
    %title= Setting.title
    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'login', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        .col-md-4.col-md-offset-4
          = notice_message
          %h4
            - if resource.is_a?(Agent)
              = fa_icon('user')
              = t('.title_agent')
            - else
              = fa_icon('users')
              = t('.title_agent_sub_account')
            - if I18n.locale == :'zh-TW'
              = link_to('English', { locale: :en }, class: 'lang-en btn btn-md pull-right')
            - elsif I18n.locale == :en
              = link_to('繁體中文', { locale: 'zh-TW' }, class: 'lang-zh-TW btn btn-md pull-right')
            %br
            %small= request.domain
          = bootstrap_form_for(resource, url: session_path(resource), html: { id: "auth_form" }) do |f|
            = f.text_field :username, autocomplete: 'off', required: true, autofocus: true
            = f.password_field :password, required: true, autofocus: true
            .row
              .col-lg-6
                - if resource.is_a?(Agent)
                  = link_to(session_path(:agent_sub_account), class: 'btn btn-default btn-block btn-lg btn-switch-account-type') do
                    = fa_icon('users')
                    = t('.switch_to_sub_account')
                - else
                  = link_to(session_path(:agent), class: 'btn btn-default btn-block btn-lg btn-switch-account-type') do
                    = fa_icon('user')
                    = t('.switch_to_master_account')
              .col-lg-6= f.submit t('btn.login'), class: 'btn btn-block btn-danger btn-lg'