.alert.alert-warning= "#{@begin_date} ~ #{@end_date}"
.table-rwd
  %table.table.table-valign-middle.table-font-sm
    %thead
      %tr.success
        %th{width: 100}= t('.id')
        %th{width: 100}= t('.player')
        %th.center{width: 80}= t('.cash_type')
        %th.center{width: 80}= t('.type')
        %th.right{width: 100}= t('.credit')
        %th.center{width: 100}= t('.status')
        %th.right{width: 100}= t('.credit_actual')
        %th.right{width: 200}= t('.updated_at')
      %tbody
      - if @details.empty?
        %tr
          %td{colspan: 8}= t('shared.no_data')
      - else
        - @details.each do |detail|
          %tr
            %td{data: {th: t('.id')}}= detail.trade_no
            %td{data: {th: t('.player')}}= link_to(detail.user.title, detail.user, class: 'font-gary')
            %td.center{data: {th: t('.cash_type')}}= t("activerecord.enums.withdraw.cash_types.#{detail.cash_type}")
            %td.center{data: {th: t('.type')}}= t("activerecord.enums.withdraw.types.#{detail.type}")
            %td.right{data: {th: t('.credit')}}= default_currency(detail.credit)
            %td.center{data: {th: t('.status')}}= detail.human_status
            %td{data: {th: t('.credit_actual')}, class: "right #{detail.cash_type == :deposit ? 'font-danger' : 'font-success'}"}
              = default_currency(detail.credit_actual)
            %td.right{data: {th: t('.datetime')}}= default_log_time(detail.updated_at)
      - if @details.current_page == @details.total_pages
        %tfoot
          %tr.warning
            %td= t('.total')
            %td.right{colspan: 4}= default_currency(@sum[:deposit][:credit] - @sum[:cashout][:credit])
            %td
            %td.right= default_currency(@sum[:deposit][:credit_actual] - @sum[:cashout][:credit_actual])
            %td
= will_paginate(@details)