.push-xs
.table-rwd
  %table.table.table-valign-middle.table-font-sm.table-hover
    %thead
      %tr.success
        %th{width: 50}= t('.id')
        %th.center{width: 150}= t('.begin_date')
        %th.center{width: 150}= t('.end_date')
        %th.right{width: 100}= t('.amount')
        %th.right{width: 200}= t('.created_at')
        %th.center{width: 50}
    %tbody
      - if @logs.empty?
        %tr
          %td{colspan: 8}= t('shared.no_data')
      - else
        - @logs.each do |log|
          %tr
            %td{data: {th: t('.id')}}= log.id
            %td.center{data: {th: t('.begin_date')}}= log.begin_date
            %td.center{data: {th: t('.end_date')}}= log.end_date
            %td.right{data: {th: t('.amount')}}= log.amount
            %td.right{data: {th: t('.created_at')}}= default_log_time(log.created_at)
            %td.center= link_to(t('btn.view'), commission_path(log))
= will_paginate(@logs)
