.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th{width: 200}= t('users.index.username')
        %th= t('users.index.nickname')
        %th.right{width: 150}
          = t('users.index.credit')
        %th.center{width: 200}= t('users.index.created_at')
        %th.center{width: 60}= t('users.index.enabled')
        %th.center{width: 60}
        %th.center{width: 80}= t('users.index.logs')
      %tbody
      - if @users.empty?
        %tr
          %td{colspan: 11}= t('shared.no_data')
      - @users.each do |user|
        = render_cell :users, :list, user: user
= will_paginate(@users)