.btn-hover
  background: #BABABA
  color: #222
  border: #BABABA
// RWD Table display options
@media(min-width:1200px)
  .btn-toolbar
    display: none
@media(max-width:1200px)
  .btn-toolbar
    margin-top: 10px
.btn-xl
  padding: 17px 0px
  font-size: 18px
  line-height: 1.3333333
  width: 100%
.ui-widget-content
  border: 1px solid #57C2C5
.navbar-default .navbar-toggle .icon-bar
  background-color: #000000
.navbar-nav .open .dropdown-menu
  background-color: rgba(255,255,255,0.9)

.form-date
  .form-control
    display: inline-block
    width: auto

.label-cashout, .label-deduct
  color: #FFF
  background-color: #c32e2a
  border-color: #ae2925
.label-deposit, .label-refund
  color: #FFF
  background-color: #48a548
  border-color: #409340
.padding-commission
  padding: 0px 10px 10px
.nav > li.nav-item
  display: inline-block
.nav > li.nav-item.active
  background-color: #d4eeef

dd
  margin-bottom: 10px
.default-select
  width: 150px !important
.display-flex
  display: flex