%h3.center.visible-xs.visible-sm
  %span.label.label-primary= t('.childrens')
.table-rwd
  %table.table
    %thead
      %tr.success
        %th
        -# %th.right= t('.receive_and_ratio')
        -# %th.right= t('.jackpot')
        %th.right= t('.deposit_actual')
        %th.right= t('.deposit')
        %th.right= t('.valid_amount')
        -# %th.right= Setting.api_site? ? t('.api_revenue') : t('.revenue')
        %th.right= t('.revenue')
        -# %th.right= t('.self_profit')
        %th.right= t('.extra_deposit')
        %th.right= t('.cashout')
        %th.right{width: 40}
    %tbody
      - if @cashout_stats.agent_children.present?
        - @cashout_stats.agent_children.each do |agent|
          - agent_cashout = @cashout_stats.list.nil? ? nil : @cashout_stats.list[agent.id]
          - agent_report = @cashout_stats.children_report.nil? ? nil : @cashout_stats.children_report[agent.id]
          %tr
            %td{data: {th: t('.agent')}}= link_to(agent.nickname, agent_finances_path(agent, begin_date: @begin_date, end_date: @end_date))
            -# %td.right{data: {th: t('.receive_and_ratio')}}
            -#   = currency_format(cashout[:owe_parent_amount])
            -#   \/
            -#   %small= cashout[:cashout_agent].casino_ratio
            -# %td.right{data: {th: t('.jackpot')}}= bonus_currency(cashout[:jackpot_amount])
            %td.right{data: {th: t('.deposit_actual')}}
              - if agent_report.nil?
                \--
              - else
                = currency_format(agent_report.total_deposit_actual)
            %td.right{data: {th: t('.deposit')}}
              - if agent_report.nil?
                \--
              - else
                = currency_format(agent_report.total_deposit)
            %td.right{data: {th: t('.valid_amount')}}= currency_format(default_zero(agent_cashout, :valid_amount))
            %td.right{data: {th: t('.revenue')}}
              = currency_format(default_zero(agent_cashout, :profit_amount))
              -# \/
              -# = default_currency(cashout[:bet_amount])
            -# %td.right{data: {th: t('.self_profit')}}= currency_format(cashout[:win_amount])
            %td.right{data: {th: t('.extra_deposit')}}
              - if agent_report.nil?
                \--
              - else
                = currency_format(agent_report.extra_deposit)
            %td.right{data: {th: t('.cashout')}}
              - if agent_report.nil?
                \--
              - else
                = currency_format(agent_report.total_cashout)
            %td.center= link_to(t('.details'), histories_game_index_path(role: {"#{agent.agent_level}_id" => agent.id}, begin_date: @begin_date, end_date: @end_date), class: 'btn btn-xs')
    - if @cashout_stats.children_sum.present?
      %tfoot
        %tr
          %td
            .visible-lg.visible-md= t('.total')
            %h3.center.visible-xs.visible-sm
              %span.label.label-primary= t('.total')
          -# %td.right{data: {th: t('.receive')}}= currency_format(@cashout_stats.total_owe_parent_amount)
          %td.right{data: {th: t('.deposit_actual')}}= currency_format(@cashout_stats.children_sum.total_deposit_actual)
          %td.right{data: {th: t('.deposit')}}= currency_format(@cashout_stats.children_sum.total_deposit)
          -# %td.right{data: {th: t('.jackpot')}}= bonus_currency(@cashout_stats.total_jackpot_amount)
          %td.right{data: {th: t('.valid_amount')}}= currency_format(@cashout_stats.total_valid_amount)
          %td.right{data: {th: t('.revenue')}}
            = currency_format(@cashout_stats.total_profit_amount)
            -# \/
            -# = default_currency(@cashout_stats.total_bet_amount)
          -# %td.right{data: {th: t('.self_profit')}}= currency_format(@cashout_stats.total_win_amount)
          %td.right{data: {th: t('.extra_deposit')}}= currency_format(@cashout_stats.children_sum.total_extra_deposit)
          %td.right{data: {th: t('.cashout')}}= currency_format(@cashout_stats.children_sum.total_cashout)
          %td