.panel.panel-warning
  .panel-heading
    - unless @levels.nil?
      - if @user.present?
        = @levels.map {|agent| agent.agent_level_cd < current_agent.agent_level_cd ? '' : link_to(agent.system_id, agent_finances_path(agent, begin_date: @begin_date, end_date: @end_date)) }.push(@user.lobby_id).reject(&:blank?).join(' / ').html_safe
      - else
        = @levels.map {|agent| agent.agent_level_cd < current_agent.agent_level_cd ? '' : link_to(agent.system_id, agent_finances_path(agent, begin_date: @begin_date, end_date: @end_date)) }.reject(&:empty?).join(' / ').html_safe
    .right.hidden-xs
      = "#{@begin_date} ~ #{@end_date}"
  - if @cashout_stats.current_agent.present?
    .table-rwd
      %table.table
        %thead
          %tr.success
            %th{width: 130}
            -# %th.right= t('.pay_and_ratio')
            %th.right= t('.deposit_actual')
            %th.right= t('.deposit')
            %th.right= t('.valid_amount')
            -# %th.right= t('.jackpot')
            -# %th.right= Setting.api_site? ? t('.api_revenue') : t('.revenue')
            %th.right= t('.revenue')
            -# %th.right= t('.self_profit')
            %th.right= t('.extra_deposit')
            %th.right= t('.cashout')
            %th.right{width: 40}
        %tbody
          - if @cashout_stats.current_agent.present?
            %tr
              %td{data: {th: t('.agent')}}= @cashout_stats.current_agent.nickname
              %td.right{data: {th: t('.deposit_actual')}}= currency_format(@cashout_stats.children_sum.total_deposit)
              %td.right{data: {th: t('.deposit')}}= currency_format(@cashout_stats.current_agent_withdraw_sum[:deposit].to_f)
              -# %td.right{data: {th: t('.pay_and_ratio')}}
              -#   = currency_format(@cashout_stats.current_agent_own_parent_amount)
              -#   \/
              -#   %small= @agent.casino_ratio
              -# %td.right{data: {th: t('.jackpot')}}
              -#   - if @agent.in_final_level?
              -#     = bonus_currency(@cashout_stats.player_jackpot_amount)
              -#   - else
              -#     = bonus_currency(@cashout_stats.total_jackpot_amount)
              %td.right{data: {th: t('.valid_amount')}}
                - if @agent.in_final_level?
                  = currency_format(@cashout_stats.player_total_valid_amount)
                - else
                  = currency_format(@cashout_stats.total_valid_amount)
              %td.right{data: {th: t('.revenue')}}
                - if @agent.in_final_level?
                  = currency_format(@cashout_stats.player_total_profit_amount)
                  -# \/
                  -# = default_currency(@cashout_stats.player_total_bet_amount)
                - else
                  = currency_format(@cashout_stats.total_profit_amount)
                  -# \/
                  -# = default_currency(@cashout_stats.total_bet_amount)
              %td.right{data: {th: t('.extra_deposit')}}= currency_format(@cashout_stats.current_agent_withdraw_sum[:extra_deposit].to_f)
              %td.right{data: {th: t('.cashout')}}= currency_format(@cashout_stats.children_sum.total_cashout)
              -# %td.right{data: {th: t('.self_profit')}}= currency_format(@cashout_stats.current_agent_win_amount)
              %td.center= link_to(t('.details'), histories_game_index_path(role: {"#{@cashout_stats.current_agent.agent_level}_id" => @cashout_stats.current_agent.id}, begin_date: @begin_date, end_date: @end_date), class: 'btn btn-xs')
  - if @agent.in_final_level? || @user.present?
    = render 'players_cashout_list'
  - else
    = render 'childs_cashout_list'
