.row
  .col-md-12.col-xs-12
    = form_tag('', class: 'form-inline form-date form-date-range-noform pull-left push-right-xs', method: :get, id: 'financesForm') do |f|
      .form-group
        .row
          .col-md-7.col-xs-12
            = text_field_tag :begin_date, @begin_date, class: 'center form-control form_datetime', size: 17, readonly: true
            = text_field_tag :end_date, @end_date, class: 'center form-control form_datetime', size: 17, readonly: true
          .col-md-5.col-xs-12
            %ul.nav.nav-pills
              = render_daterange_picker(:agent_finances_path, resource: @agent, params: {lobby_id: @lobby_id, agent: @agent}, list: {})
            .push-sm
          - if greater_shareholder_level(current_agent)
            .col-md-2.col-xs-12
              = label_tag t('.director')
              = select_tag :agent, options_from_collection_for_select(current_agent.children, :id, :nickname, @levels.nil? || @levels[1].nil? ? '' : @levels[1].id), prompt: 'All', class: 'center form-control default-select agents-select', id: 'selectDirector'
          - if greater_director_level(current_agent)
            .col-md-2.col-xs-12
              = label_tag t('.agent')
              - if @levels.nil? || @levels[1].nil?
                = select_tag :agent, '', prompt: '---', class: 'center form-control default-select agents-select', id: 'selectAgent', disabled: true
              - else
                = select_tag :agent, options_from_collection_for_select(@levels[1].children, :id, :nickname, @levels[2].nil? ? '' : @levels[2].id), prompt: 'All', class: 'center form-control default-select agents-select', id: 'selectAgent'
          .col-md-2.col-xs-12
            = label_tag t('.lobby_id')
            = text_field_tag :lobby_id, @lobby_id, class: 'form-control', size: 15
          .col-md-2.col-xs-12
            %br
            = submit_tag t('.search'), class: 'btn btn-success pull-right', id: 'financeSubmit'
      .push-sm

= javascript_include_tag 'pages/finance'