.row
  - @commission_reports.each do |commission|
    .col-md-8.push-xs
      %a.btn.btn-primary{role: "button",data: {toggle: "collapse"}, href: "#commissionTable-#{commission[:begin_date]}", aria:{expanded: "false", controls: "commissionTable-#{commission[:begin_date]}"}}= t('.view')
    .collapse{id: "commissionTable-#{commission[:begin_date]}"}
      .col-md-8.push-xs
        .table-rwd
          %table.table.table-valign-middle.table-bordered
            %thead
              %tr.success
                %td{colspan: 6}= "#{commission[:begin_date].to_date} ~ #{commission[:end_date].to_date}"
              %tr.warning
                %th.center{rowspan: 2, width: 50}= t('.table.win')
                %th.center{rowspan: 2, width: 80}= t('.user_count')
                %th.center{colspan: 2}= t('.table.rate')
              %tr.warning
                %th.center{width: 100} BT
                %th.center{width: 100} Kgame
            %tbody
              - Reports::AgentCommission.bet_level_limit.each do |level, limit|
                %tr
                  %td.right= limit[:total]
                  %td.right{class: (commission[:user_count_level] == level) ? 'danger': ''}= limit[:users]
                  - [1, 2].each do |type_cd|
                    %td.right{class: (!commission[:reports][type_cd].nil? && (commission[:reports][type_cd][:rate] == @game_rate[type_cd][level])) ? 'danger': ''}= "#{@game_rate[type_cd][level]}%"
    .col-md-8.push-xs
      .table-rwd
        %table.table.table-valign-middle
          %thead
            %tr.success
              %td{colspan: 4}= "#{commission[:begin_date].to_date} ~ #{commission[:end_date].to_date}"
            %tr.warning
              %td{width: 50}= t('.user_count')
              %td.right{width: 100}
                = link_to(commission[:bet_users_count], users_commissions_path(begin_date: commission[:begin_date].to_date, end_date: commission[:end_date].to_date))
              %td{colspan: 2}
          %tbody
            - AgentCommissionReport.types.each do |name, id|
              %tr{class: (name == "administration") ? 'active': ''}
                %td{width: 200}= t(".#{name}")
                %td.right
                  - if commission[:reports].nil? || commission[:reports][id].nil? || commission[:reports][id][:total].nil? || commission[:reports][id][:total] == 0
                    = 0
                  - else
                    - if (name == "administration")
                      = link_to(commission[:reports][id][:total], details_commissions_path(@agent, type: name, begin_date: commission[:begin_date].to_date, end_date: commission[:end_date].to_date))
                    - else
                      = link_to(commission[:reports][id][:total], URI.decode(histories_game_index_path(type: name, role: {"#{@agent.agent_level}_id" => @agent.id}, begin_date: commission[:begin_date].to_date, end_date: commission[:end_date].to_date)))
                %td.right
                  - if commission[:reports].nil? || commission[:reports][id].nil? || commission[:reports][id][:rate].nil? || commission[:reports][id][:rate] == 0
                    0%
                  - else
                    = "#{commission[:reports][id][:rate]}%"
                %td.right
                  - if commission[:reports].nil? || commission[:reports][id].nil? || commission[:reports][id][:commission].nil? || commission[:reports][id][:commission] == 0
                    0
                  - else
                    = commission[:reports][id][:commission]
          %tfoot
            %tr.info
              %td= t('.sum')
              %td.right= commission[:total_sum].round(2)
              %td
              %td.right
                %strong= commission[:commission_sum].round(2)
