#machine-logs-panel.panel.panel-warning
  .panel-heading
    %h3.panel-title= t('.title')
  %table.table
    %thead
      %tr.active
        %td= t('.action')
        %td.right{width: 150}= t('.time')
    %tbody
      - if @machine_logs.empty?
        %tr
          %td.no-data{colspan: 3}= t('shared.no_data')
      - @machine_logs.each do |log|
        = render_cell :machines, :log, log: log