.col-md-12
  .panel{class: "panel-#{@style}"}
    .panel-heading
      %h3.panel-title
        = @title
        (
        %span{id: @machine_counter_id}= @machines.size
        )
    %div{id: @panel_id}
      %table.table.table-valign-middle{ data: { action: @action } }
        %thead
          %tr.active
            %td{width: 160}= t('.machine')
            %td.right{width: 130}= t('.credit')
            %td.center{width: 60}= t('.operate')
        %tbody
          %tr.no-data{ class: (@machines.empty? ? '' : 'hidden') }
            %td{colspan: 3}= t('shared.no_data')
          - @machines.each do |machine|
            = render_cell :dashboard, :machine, machine: machine