.panel.panel-success#profit
  .panel-heading
    %h3.panel-title= t('.title')
  .table-rwd
    %table.table.table-valign-middle
      %thead
        %tr
          %th.right{width: 100}= t('.credit_left')
          %th.right{width: 100}= t('.credit')
          %th.right{width: 100}= t('.ratio')
          %th.right= t('.profit')
          %th.right= t('.revenue')
          %th.right= t('.pay')
          %th.right= t('.bet')
          %th.right{width: 150}= t('.total_jackpot')
          - if current_agent.have_shop?
            %th{width: 150}
      %tbody
        %tr
          %td.right{data: {th: t('.credit_left')}}
            %strong#credit_left
              = default_currency(current_agent.credit_left)
          %td.right#credit_max{data: {th: t('.credit')}}
            = default_currency(current_agent.credit_max)
          %td.right#casino_ratio{data: {th: t('.ratio')}}= "#{current_agent.casino_ratio}%"
          %td.right#today_self_profit{data: {th: t('.profit')}}= currency_format(@today_self_profit)
          %td.right#today_win_amount{data: {th: t('.revenue')}}= currency_format(@today_win_amount)
          %td.right#today_owe_parent{data: {th: t('.pay')}}= default_currency(@today_owe_parent)
          %td.right#today_total_cash{data: {th: t('.bet')}}= default_currency(@today_total_cash)
          %td.right{data: {th: t('.total_jackpot')}}
            %span#total_jackpot= @total_jackpot
          - if current_agent.have_shop?
            %td= render_maintain_button(current_agent)
  - if current_agent.recommend_code.present?
    .panel-footer
      .row
        .col-md-12
          .input-group
            %span.input-group-addon= t('.promo_link')
            %input.form-control.font-xs{value: agent_promo_url(current_agent)}
            %span.input-group-btn= copy_button(agent_promo_url(current_agent), class: 'btn btn-default')