.panel.panel-info
  .panel-heading
    %h3.panel-title= t('.title')
  .panel-body
    .row
      .col-md-2.center.tip
        %h1.fa.fa-lock
        .font-danger= current_agent.title
        %span.title= @remote_ip
      - if @total_machines_count
        .col-md-2.center.tip
          %h1.fa.fa-windows
          .font-danger
            = @total_machines_count
            %span.title= t('.machines')
      - if @total_users_count
        .col-md-2.center.tip
          %h1.fa.fa-users
          .font-danger
            = @total_users_count
            %span.title= t('.users')
      - if @total_agents_count
        .col-md-2.center.tip
          %h1.fa.fa-share-alt
          .font-danger
            = @total_agents_count
            %span.title= t('.agents')
      .clearfix
      .push-md