= t('.apply_cashout_html', user: link_to(activity.trackable.system_id, activity.trackable, class: 'font-gary'), status: t("activerecord.enums.withdraw.status.#{activity.parameters[:status]}"), id: activity.parameters[:id])