= t('.deposit_html', user: link_to(activity.trackable.system_id, activity.trackable, class: 'font-gary'), credit: activity.parameters[:credit], status: t("activerecord.enums.withdraw.status.#{activity.parameters[:status]}"))