%ul.nav
  .pull-right
    / filter bar
    %ul{class: 'nav nav-pills pull-left push-right-xs'}
      %li= nav_link(t('.all'), withdraw_agent_withdraws_path(type: 'all', id: @agent_id), class: 'hidden-sm hidden-xs')
      %li= nav_link(t('.deposit'), withdraw_agent_withdraws_path(type: 'deposit', id: @agent_id), class: 'hidden-sm hidden-xs')
      %li= nav_link(t('.cashout'), withdraw_agent_withdraws_path(type: 'cashout', id: @agent_id), class: 'hidden-sm hidden-xs')
      %li= nav_link(t('.refund'), withdraw_agent_withdraws_path(type: 'refund', id: @agent_id), class: 'hidden-sm hidden-xs')
      %li= nav_link(t('.deduct'), withdraw_agent_withdraws_path(type: 'deduct', id: @agent_id), class: 'hidden-sm hidden-xs')
  / search form
  -# = search_form_type(:query, params[:query], withdraw_agent_withdraws_path, type, placeholder: t('.search_placeholder'))
.push-xs
