.alert.alert-warning
  = t('.current_points')
  %b= current_agent.points
= render('filter_bar', type: @type)
.table-rwd
  %table.table.table-valign-middle.table-font-sm.table-hover
    %thead
      %tr.success
        %th{width: 60}= t('.id')
        %th{width: 50}= t('.type')
        %th.right{width: 80}= t('.points')
        %th{width: 120}= t('.note')
        %th.right{width: 200}= t('.updated_at')
        -# %th.center{width: 50}
    %tbody
      - if @withdraws.empty?
        %tr
          %td{colspan: 5}= t('shared.no_data')
      = render partial: 'withdraw', collection: @withdraws, locals: {type: @type}
= will_paginate(@withdraws)