= t('.cashout_html', agent: link_to(activity.trackable.system_id, activity.trackable, class: 'font-gary'), points: activity.parameters[:points])
-# - if activity.trackable.current_agent?
-#   = activity.trackable.title
-# - else
-#   = link_to(activity.trackable.title, activity.trackable, class: 'font-gary')
-# - if activity.parameters[:cashout_credit].to_f > 0
-#   = t('.pay')
-#   %span.font-win
-#     = default_currency(activity.parameters[:cashout_credit].to_f)
-# - else
-#   = t('.received')
-#   %span.font-lose
-#     = default_currency(activity.parameters[:cashout_credit].to_f.abs)