- if current_agent.id == activity.trackable.id
  = t('.deduct', agent: activity.trackable.system_id, points: activity.parameters[:points])
- else
  = t('.deduct_html', agent: link_to(activity.trackable.system_id, activity.trackable, class: 'font-gary'), points: activity.parameters[:points])