= content_tag_for(:tr, machine) do
  %td
    - if machine.agent.current_agent?
      = machine.agent.username
    - else
      = link_to(machine.agent.username, machine.agent, class: 'font-gary')
  %td= link_to(machine.title, machine_path(machine, format: :js), method: :get, remote: :true, class: 'font-gary')
  %td.center= icon_check(machine, :lock?, false)
  %td.right
    %strong.credit-max.font-danger= default_currency(machine.credit_left)
  %td.center
    = render_machine_status(machine)
