#logs.modal.fade{tabindex: -1,role: 'dialog', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %span.modal-title.font-md= t('.title', name: @machine.title)
        - if @machine.deleted?
          %span.label.label-danger= t('.deleted')
      .modal-body
        %table.table
          %thead
            %tr.active
              %td= t('.action')
              %td.right{width: 150}= t('.time')
          %tbody
            - if @machine_logs.empty?
              %tr
                %td{colspan: 3}= t('shared.no_data')
            - @machine_logs.each do |log|
              = render_cell :machines, :log, log: log
      .modal-footer
        %button.btn.btn-default.pull-right{data: {dismiss: 'modal'}}= t('btn.close')
        .btn-group.pull-left
          - if policy(:finance).all?
            .btn-group
              %a.dropdown-toggle{href: '#', class: 'btn btn-default', data: {toggle: 'dropdown'}}
                = t('.log_group')
                %span.caret
              %ul.dropdown-menu.left{role: 'menu'}
                - if policy(:history).all?
                  %li= link_to(t('.histories_slots'), histories_game_index_path(role: {machine_id: @machine.id}))
                %li= link_to(t('.logs'), machine_logs_path(@machine))
          - if policy(:common).machines_control?
            .btn-group
              %a.dropdown-toggle{data: {toggle: 'dropdown'}, href: '#', class: 'btn btn-default'}
                = t('.operate_group')
                %span.caret
              %ul.dropdown-menu.left{role: 'menu'}
                %li= link_to(t('.delete_machine'), machine_path(@machine, format: :js), method: :delete, remote: true, confirm: t('.delete_machine_confirm'))