= search_form(:query, params[:query], request.path, placeholder: t('.search_placeholder'))
.clearfix
.push-xs
.table-responsive
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th{width: 120, data: {priority: '3'}}= t('.shop')
        %th= t('.machine')
        %th.center{width: 60, data: {priority: '3'}}= t('.enabled')
        %th.right{width: 100}= t('.credit')
        %th.center{width: 60}= t('.boot')
    %tbody
      - if @machines.empty?
        %tr
          %td{colspan: 6}= t('shared.no_data')
      = render partial: 'machines/machine', collection: @machines
= will_paginate(@machines)