- if Setting.api_site?
  = search_form(:query, params[:query], request.path, placeholder: t('.search_placeholder'))
  .clearfix
  .push-xs
.table-rwd
  %table.table
    %thead
      %tr.success
        %th{width: 200}= t('.owner')
        %th= t('.action')
        %th.center{width: 100}= t('.ip')
        %th.right{width: 170}= t('.time')
    %tbody
      - if @logs.empty?
        %tr
          %td{colspan: 6}= t('shared.no_data')
      - @logs.each do |log|
        - cache [log.id, log.owner, log.trackable, I18n.locale] do
          %tr
            %td{data: {th: t('.owner')}}= log.owner.system_id
            %td{data: {th: t('.action')}}= render_activity(log)
            %td.center{data: {th: t('.ip')}}= log.parameters[:remote_ip]
            %td.right{data: {th: t('.time')}}= default_log_time(log.created_at)

= will_paginate(@logs)
