%h3.center.visible-xs.visible-sm
  %span.label.label-primary= t('.childrens')
.table-rwd
  %table.table.table-bordered.table-style
    %thead
      %tr.success
        %th= t('.agent')
        %th= t('.dc_deposit')
        %th= t('.dc_cashout')
        %th= t('.deposit')
        %th= t('.cashout')
        %th= t('.extra_deposit')
    %tbody
      - @withdraw_stats.children_report.each do |agent_id, withdraw| 
        %tr
          %td{data: {th: t('.agent')}}= link_to(withdraw.agent_nickname, agent_withdraws_path(agent_id, begin_date: params[:begin_date], end_date: params[:end_date]))
          %td.right{data: {th: t('.dc_deposit')}}
            = raw dc_info_html(withdraw.dc_deposit, @withdraw_stats.currencies)
          %td.right{data: {th: t('.dc_cashout')}}
            = raw dc_info_html(withdraw.dc_cashout, @withdraw_stats.currencies)
          %td.right{data: {th: t('.deposit')}}= currency_format(withdraw.deposit.to_f)
          %td.right{data: {th: t('.cashout')}}= currency_format(withdraw.cashout.to_f)
          %td.right{data: {th: t('.extra_deposit')}}= currency_format(withdraw.extra_deposit)
    %tfoot
      %tr
        %td{data: {th: t('.total')}}= t('.total')
        %td.right{data: {th: t('.dc_piece_deposit')}}= currency_format(@withdraw_stats.children_sum.total_dc_deposit.to_f)
        %td.right{data: {th: t('.dc_piece_cashout')}}= currency_format(@withdraw_stats.children_sum.total_dc_cashout.to_f)
        %td.right{data: {th: t('.deposit')}}= currency_format(@withdraw_stats.children_sum.deposit.to_f)
        %td.right{data: {th: t('.cashout')}}= currency_format(@withdraw_stats.children_sum.cashout.to_f)
        %td.right{data: {th: t('.extra_deposit')}}= currency_format(@withdraw_stats.children_sum.total_extra_deposit)