.row
  .col-md-6.col-xs-12
    = form_tag('', class: 'form-inline form-date form-date-range pull-left push-right-xs', method: :get) do |f|
      .form-group
        = text_field_tag :begin_date, @begin_date, class: 'center form-control form_datetime', size: 17, readonly: true
        = text_field_tag :end_date, @end_date, class: 'center form-control form_datetime', size: 17, readonly: true
  .col-md-6.col-xs-12
    %ul.nav.nav-pills
      - if @agent.present?
        = render_daterange_picker(:agent_withdraws_path, resource: @agent, params: {}, list: {})
      - if @user.present?
        = render_daterange_picker(:user_withdraws_path, resource: @user, params: {}, list: {})