.panel.panel-warning
  .panel-heading
    = "#{@begin_date} ~ #{@end_date}"
    .pull-right.hidden-xs
      = @agent.system_id if @agent.present?
  - if @agent.present?
    .table-rwd
      %table.table.table-bordered.table-style
        %thead
          %tr.success
            %th= t('.agent')
            %th= t('.dc_deposit')
            %th= t('.dc_cashout')
            %th= t('.deposit')
            %th= t('.cashout')
            %th= t('.extra_deposit')
        %tbody
          - if @withdraw_stats.self_report.present?
            %tr
              %td{data: {th: t('.agent')}}= @agent.nickname
              %td.right{data: {th: t('.dc_deposit')}}
                = raw dc_info_html(@withdraw_stats.self_report.dc_deposit, @withdraw_stats.currencies)
              %td.right{data: {th: t('.dc_cashout')}}
                = raw dc_info_html(@withdraw_stats.self_report.dc_cashout, @withdraw_stats.currencies)
              %td.right{data: {th: t('.deposit')}}= currency_format(@withdraw_stats.self_report.deposit.to_f)
              %td.right{data: {th: t('.cashout')}}= currency_format(@withdraw_stats.self_report.cashout.to_f)
              %td.right{data: {th: t('.extra_deposit')}}= currency_format(@withdraw_stats.self_report.extra_deposit.to_f)
  - if @agent.present? && @agent.in_final_level?
    = render 'players_withdraw_list'
  - else
    = render 'childs_withdraw_list'
