= form_tag('', class: 'form-inline form-date form-date-range-noform', method: :get) do |f|
  .form-group
    = text_field_tag :begin_date, @begin_date, class: 'center form-control form_datetime', size: 17, readonly: true
    = text_field_tag :end_date, @end_date, class: 'center form-control form_datetime', size: 17, readonly: true
    = submit_tag t('btn.search'),class: "btn btn-default", name: nil