.modal.fade#myModal{tabindex: -1, id: id,role: 'dialog', aria: {labelledby: 'credit', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title
          = title
      .modal-body
        = yield