#cashout.modal.fade{tabindex: -1,role: 'dialog', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title= t('.title', name: @user.title)
      .modal-form
        = bootstrap_form_for([:user, @cashout_form], format: :js, remote: true) do |f|
          .modal-body
            = f.static_control :credit_left, label: t('.credit_left')
            = f.number_field :cashout_credit, label: t('.cashout_credit'), value: "", autofocus: true, step: '0.01'
            - if @errors
              .font-danger= @errors.messages.first.last.first
          .modal-footer
            = f.submit t('btn.confirm'), class: 'btn btn-success', disable_with: t('btn.submitting')