(function(){
  <% if @status %>
    $('#cashout').modal('hide');
    $('#user_<%= @user.id %>').replaceWith('<%=j render_cell :users, :list, user: @user %>')
  <% else %>
    $cashoutForm = $("<%=j render('cashout_form') %>")
    $('#cashout').html($cashoutForm.html());
  <% end %>
})();