(function(){
  <% if @cashout_form %>
    $cashoutForm = $("<%=j render('cashout_form') %>");
    if ($('#cashout').size() > 0) {
      $('#cashout').html($cashoutForm.html());
    } else {
      $('body').append($cashoutForm);
    }
    $('#cashout_cashout_credit').keypress(function(e){
      if (e.which == 13) {
        e.preventDefault();
        $('#cashout [type="submit"]').click();
      }
    });
    $('#cashout [type="submit"]').click(function(){
      if (!confirm("<%=j t('.cashout_notice', name: @user.title) %>")) {
        return false;
      }
    });
    $('#cashout').modal();
    $('#cashout [type="number"]').focus();
  <% else %>
    alert("<%= t('pundit.shared_policy.authorized_error') %>");
  <% end %>
})();
