.row
  .col-md-8.col-md-offset-2
    %h3= t('.title')
    %hr
    = bootstrap_form_for(@form, url: agent_users_path(@agent)) do |f|
      = f.text_field :username, autocomplete: 'off', required: true, autofocus: true
      = f.text_field :nickname, autocomplete: 'off', required: true, autofocus: true
      = f.password_field :password, autocomplete: 'off', help: t('shared.password_tips.keep_blank')
      = f.password_field :password_confirmation, autocomplete: 'off'
      = f.submit t('btn.save'), class: 'btn btn-success'