!!!
%html
  %head
    %meta#pusher{data: { key: Setting.pusher.key, auth_end_point: channels_path}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= "#{Setting.title} - #{current_agent.username}"
    = render_page_description_meta_tag
    = render_page_keywords_meta_tag
    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render_cell :common, :navigation_bar
    .container
      .push-xs
      = notice_message
      = render 'common/marquee'
      = render 'common/news_marquee'
      - unless current_page?(root_path)
        = render_breadcrumb
        .push-xs
      = yield
    = yield :javascripts
    = javascript_include_tag 'shared/extra'
    /= javascript_include_tag 'shared/rwd-table'
    = javascript_include_tag 'pages/main'
