!!!
%html
  %head
    %meta#pusher{data: { key: Setting.pusher.key, auth_end_point: channels_path}}
    %title= Setting.title
    = render_page_description_meta_tag
    = render_page_keywords_meta_tag
    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = render 'common/marquee'
      = yield
    = yield :javascripts
