= link_to(t('.new_account'), new_account_path, class: 'btn btn-danger pull-right btn-hover')
.clearfix
.push-xs
.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th= t('.account')
        %th.center{width: 50}= t('.enabled')
        %th.center{width: 150}= t('.player_read_permission')
        %th.center{width: 150}= t('.player_write_permission')
        %th.center{width: 150}= t('.finances_permission')
        - unless current_agent.in_final_level?
          %th.center{width: 150}= t('.agent_read_permission')
          %th.center{width: 150}= t('.agent_write_permission')
        %th.center{width: 100}
    %tbody
      - if @accounts.empty?
        %tr
          %td{colspan: 30}= t('shared.no_data')
      - @accounts.each do |account|
        - cache [account, I18n.locale] do
          %tr
            %td{data: {th: t('.account')}}
              = "#{account.username} / #{account.nickname}"
            %td.center{data: {th: t('.enabled')}}= icon_check(account, :lock?, false)
            %td.center{data: {th: t('.player_read_permission')}}= icon_check(account, :machine_read_permission?)
            %td.center{data: {th: t('.player_write_permission')}}= icon_check(account, :machine_write_permission?)
            %td.center{data: {th: t('.finances_permission')}}= icon_check(account, :finances_permission?)
            - unless current_agent.in_final_level?
              %td.center{data: {th: t('.agent_read_permission')}}= icon_check(account, :agent_read_permission?)
              %td.center{data: {th: t('.agent_write_permission')}}= icon_check(account, :agent_write_permission?)
            %td.right
              = link_to(t('btn.log'), account_logs_path(account), class: 'btn btn-xs btn-default')
              = link_to(t('btn.edit'), edit_account_path(account), class: 'btn btn-xs btn-default')
