.row
  .col-md-8.col-md-offset-2
    = bootstrap_form_for(@form, url: accounts_path, layout: :horizontal) do |f|
      %legend= t('.title')
      = f.text_field :username, autofocus: true
      = f.text_field :nickname
      = f.password_field :password
      = f.password_field :password_confirmation
      = f.form_group do
        = f.check_box :machine_read_permission
        - if current_account.user_permission?
          = f.check_box :machine_write_permission
        = f.check_box :finances_permission
        - unless current_agent.in_final_level?
          = f.check_box :agent_read_permission
          = f.check_box :agent_write_permission
      = f.form_group do
        = f.submit t('btn.save')